<div class="page-forgot-password on-boarding-page">

	<mat-card>
		<div class="mat-card-header">
			<div class="logo-cover">
				<img src="../../../../../assets/images/logo-black.png" alt="Logo">
			</div>
			<mat-card-title>Forgot Password</mat-card-title>
		</div>

		<div class="mat-card-body">
			<form [formGroup]="forgotForm" (ngSubmit)="forgotForm.valid&&validateEmail()">
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput required formControlName="email" [maxlength]="100">
					<mat-error>
						{{getControl('email')|validate:'email'}}
					</mat-error>
				</mat-form-field>

				<div class="link-cover">
					<a [routerLink]="'LOGIN'|absolutePath">Back to Login</a>
				</div>
				<div class="btn-cover">
					<button type="submit" mat-stroked-button class="btn btn-primary">Send</button>
				</div>
			</form>
		</div>
	</mat-card>

</div>