<div class="page-image-upload upload-ui">
  <div class="image-upload-content upload-ui-content">

    <!-- If this is true then default is false -->
    <div class="img-cover" *ngIf="profilePicURL">
      <div class="remove-cover">
        <span class="material-icons" (click)="removeMedia()" type="button">close</span>
      </div>
     
      <img [src]="profilePicURL|customImage:'IMAGE_PLACEHOLDER'|async" alt="uploaded-image">
    </div>

    <!-- If this is true then img-cover is false -->
    <div class="default-preview" title="Image: JPG, JPEG, PNG formats are allowed" *ngIf="!profilePicURL">
      <div class="default-preview-content">
        <img src="../../../../../assets/default-image/download-icon.svg" alt="upload" class="animate__animated animate__rotateInDownLeft">
        <h4>Drop your file here</h4>
        <p>Or</p>
        <span> Browse here</span>
      </div>
      <input type="file" accept="image/x-png,image/jpeg" #file (change)="onSelectFile($event)" />
    </div>

  </div>

</div>

<div class="croppabelWrap" *ngIf="imageChangedEvent" [class.active]="imageChangedEvent">
  <app-image-crop (imageData)="imageSelected($event)" [imageChangedEvent]="imageChangedEvent" [roundCropper]='isCropper'
    [aspectRatio]="2 / 1" (closeCropper)="closeCropper()"></app-image-crop>
</div>