<div class="page-image-upload">
  <div class="image-upload-content">

    <!-- If this is true then default is false -->
    <div class="img-cover" *ngIf="profilePicURL">
      <div class="remove-cover">
        <span class="material-icons" (click)="removeMedia()" type="button">delete</span>
      </div>
      <img [src]="profilePicURL|customImage:'IMAGE_PLACEHOLDER'|async" alt="uploaded-image">
    </div>

    <!-- If this is true then img-cover is false -->
    <div class="default-preview" title="Image: JPEG, PNG formats are allowed" *ngIf="!profilePicURL">
      Upload Image
      <input type="file" accept="image/x-png,image/jpeg" #file (change)="onSelectFile($event)"
        matTooltip="Upload Image" />
    </div>

  </div>

  <div class="croppabelWrap" *ngIf="imageChangedEvent" [class.active]="imageChangedEvent">
    <app-image-crop (imageData)="imageSelected($event)" [imageChangedEvent]="imageChangedEvent" [roundCropper]='false'
      [aspectRatio]="4 / 4" (closeCropper)="closeCropper()"></app-image-crop>
  </div>
</div>