<div class="page-admin-profile popup-ui">
	<div class="popup-header">
		<h3>Admin Profile</h3>
		<mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
	</div>
	<div class="popup-body">
		<div class="img-cover">
			<img [src]="(profileDetail?.profilePicture)|customImage:'USER'|async" alt="Admin">
		</div>
		<div class="profile-detail">
			<h3>{{profileDetail?.name}}</h3>
			<h4>{{profileDetail?.email}}</h4>
			<h4><span>Status:</span> {{profileDetail?.status}}</h4>
			<h4><span>Admin Type:</span> {{profileDetail?.adminType}}</h4>
		</div>
	</div>
	<div class="popup-footer">
		<button class="btn" mat-stroked-button (click)="openChangePasswordTab()" [mat-dialog-close]="false"> Change Password</button>
		<button class="btn btn-primary" mat-stroked-button (click)="openEditProfileTab()" [mat-dialog-close]="false">Edit Profile</button>
	</div>
</div>