:host{
	@import '../../../../../../sass/components/popup-ui';
}
.popup-body{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.img-cover{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.profile-detail{
	text-align: left;
	h3{
		color: $primary;
		font-size: 20px;
		font-weight: bold;
		text-transform: capitalize;
	}
	h4{
		span{
			font-weight: bold;
		}
	}
}
.single-profile-detail{
	display: flex;
}