<div class="page-admin-profile">
	<div class="breadcrumbnew">
		<h4>Admin Profile</h4>
	</div>
	<div class="admin-profile-content">
		<div class="row-1">
			<div class="img-cover">
				<img [src]="(profileDetail?.profilePhoto)|customImage:'USER'|async" alt="Admin">
			</div>
			<div class="profile-detail">
				<div class="single-profile-detail">
					<label for="">Name:</label>
					<p>{{profileDetail?.name}}</p>
				</div>
				<div class="single-profile-detail">
					<label for="">Email:</label>
					<p>{{profileDetail?.email}}</p>
				</div>
				<div class="single-profile-detail">
					<label for="">Status:</label>
					<p>{{profileDetail?.status}}</p>
				</div>
				<div class="single-profile-detail">
					<label for="">Admin Type:</label>
					<p>{{profileDetail?.adminType}}</p>
				</div>
			</div>
		</div>
		<div class="button-row">
			<button class="btn" mat-stroked-button (click)="openChangePasswordTab()"> Change Password</button>
      <button class="btn btn-primary" mat-stroked-button (click)="onEditProfile()">Edit Profile</button>
		</div>
	</div>
</div>