<div class="page-daily-unicorn-humour-details">
    <div class="daily-unicorn-humour-details-content popup-ui">
        <div class="popup-header">
            <h3>Unicorn Humour Detail</h3>
		    <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
        </div>
        <div class="popup-content">
            <div class="popup-body">
                <div class="img-cover">
                    <img [src]="data?.mediaUrl |customImage:'USER'|async" alt="unicorn image">
                </div>
                <p>{{data?.description}}</p>
                <div class="like-cover"><span class="material-icons">thumb_up</span>
                    <p>{{data?.likeCount}}</p>
                </div>
            </div>
            <div class="popup-footer">
                <div class="btn-row">
                    <button class="btn btn-simple" mat-stroked-button type="button" [mat-dialog-close]="false">Back</button>
                    <button class="btn btn-primary" mat-stroked-button type="button" (click)="onEditDetails()" >Edit Detail </button>
                </div>
            </div>
        </div>
    </div>
</div>
