<div class="page-daily-unicorn-humour-details common-detail-page-ui">
    <div class="daily-unicorn-humour-details-content">
        <div class="row-1">
            <div class="textual-detail">
                <div class="card_header_container profile_header">
                    <div class="card_header">
                        <figure mat-card-avatar class="image-cover">
                            <img class="img-cover-fit"
                                [src]="(smilesDetails?.adminData[0]?.profilePicture ? smilesDetails?.adminData[0]?.profilePicture : smilesDetails?.addedBy?.profilePicture )"
                                alt="">
                        </figure>
                        <div class="heading-cover">
                            <a class="user_name" href="javascript:void()">{{smilesDetails?.adminData[0]?.name ? smilesDetails?.adminData[0]?.name : smilesDetails?.addedBy?.name}}</a>
                            <p class="posted-on-date">Scheduled On: {{smilesDetails?.postedAt | dateTime}} </p>
                        </div>
                    </div>
                    <p>{{smilesDetails?.description}}</p>
                </div>

            </div>
            <div class="image-detail">
                <img class="img-cover-fit" [src]="smilesDetails?.mediaUrl |customImage:'IMAGE_PLACEHOLDER'|async"
                    alt="unicorn image" *ngIf="smilesDetails?.mediaType == 1">
                <video #myVideo muted [src]="smilesDetails?.mediaUrl" *ngIf="smilesDetails?.mediaType == 2" loop id="video" controls>Your
                    browser does not support the
                    video tag.</video>
            </div>
        </div>
        <div class="row-2" >
            <div class="like-cover" (click)="likeHandler(smilesDetails._id, smilesDetails?.likeCount)"><span
                    class="material-icons">thumb_up</span>
                <p>{{smilesDetails?.likeCount}}</p>
            </div>

        <!-- <div class="like-cover" (click)="onReportProblem(adviceDetails?._id, adviceDetails?.reportCount)"><span class="material-icons">report</span>
           <p>Report</p>
        </div> -->

        </div>
        <app-comments-show [commentId]="smilesDetails?._id"></app-comments-show>
    </div>
</div>