<!-- <button class="btn btn-primary"  (click)="onClick()" *ngIf="!isProcessing">Button For Event detail</button> -->

<app-table [tableSource]="tableSource"  (optionChange)="onOptionChange($event)">
    <ng-template appFor="createdAt" let-row="row">
         {{ row?.createdAt |customDate}}
     </ng-template>
    <ng-template appFor="startDate" let-row="row">
         {{ row?.startDate |dateTime}}
     </ng-template>
    <ng-template appFor="endDate" let-row="row">
         {{ row?.endDate |dateTime}}
     </ng-template>
 
     <ng-template appFor="status" let-data="row">
         <!-- {{ data?.status | titlecase}} -->
         <p class="status_expired">{{data?.isExpired ? 'Expired' : (data?.status | titlecase)}}</p>

     </ng-template>
 
     <ng-template appFor="title" let-data="row">
         <a href="javascript:void(0)" (click)="onDetailsHandler(data?._id)" title="{{ data?.title | titlecase}}">
             {{ data?.title | titlecase}}
         </a>
     </ng-template>

     <ng-template appFor="imageUrl" let-row="row">
        <div class="table-cell-image-cover event-image-cover" title="Click to see the image">
            <img [src]="row?.imageUrl |customImage:'IMAGE_PLACEHOLDER'|async" alt="row-image"
                (click)="onImageClick(row?.imageUrl)">
        </div>
    </ng-template>
 
     <!-- <ng-template appFor="likeCount" let-row="row">
         <a (click)="onlikeHandler(row._id, row?.likeCount)" [class.color-black]="row?.likeCount < 1">
             {{ row?.likeCount}}
         </a>
     </ng-template> -->
 
     <!-- <ng-template appFor="commentCount" let-row="row">
         <a (click)="onCommentsHandler(row._id, row?.commentCount)" [class.color-black]="row?.commentCount < 1">
             {{ row?.commentCount}}
         </a>
     </ng-template> -->
 
   <ng-container>
 
         <ng-template appFor="actions"  let-row="row">
             <div class="action-icon-cover">
                 <!-- <i class="material-icons icon-edit" (click)="oneditHandler(row?._id)" title="Edit">
                     edit
                 </i> -->
                 <!-- <i class="material-icons icon-delete" (click)="onActionHandler(row._id, 'deleted', row?.endDate)" title="Delete" [class.disabled-icon]="today > row?.endDate">
                     delete
                 </i> -->
                 <i class="material-icons icon-block" (click)="onActionHandler(row._id, 'blocked', row?.endDate)" *ngIf="row?.status === 'active';else templateAction"  title="Block" [class.disabled-icon]="today > row?.endDate ">
                     blocked</i>
                 <ng-template #templateAction>
                     <i class="material-icons icon-unblock" (click)="onActionHandler(row._id, 'active', row?.endDate )" title="Unblock" [class.disabled-icon]="today > row?.endDate ">
                         lock_open
                     </i>
                 </ng-template>
             </div>
         </ng-template>
     </ng-container>  
 </app-table>