<div class="page-analytics-details">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                New Users
                <span class="count">123</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Posts Uploaded
                <span class="count">123</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Payment Received
                <span class="count">123</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Online Users
                <span class="count">123</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Most recognised member
                <span class="count">123</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Most active user
                <span class="count">123</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Most liked posts
                <span class="count">123</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>