<div class="card-bg post_card">
    <div class="post-card-content-row row">
        <div class="column column-media">
            <div class="video-wrapper">
                <!-- <iframe class="video-frame" width="100%" height="100%" src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe> -->
            </div>
        </div>
        <!-- <div class="column column-other-content">
            <div class="card_header_container profile_header">
                <div class="card_header">
                    <figure mat-card-avatar class="image-cover">
                        <img class="img-cover-fit" src="assets/images/img_avatar3.png" alt="">
                    </figure>
                    <h3 class="small_heading">
                        <a href="javascript:void()">User name</a>
                    </h3>
                    <p>12 July, 2020</p>
                </div>
                <button mat-icon-button class="button-icon" [matMenuTriggerFor]="cardMenu">
                    <mat-icon class="align-center">more_vert</mat-icon>
                    <mat-menu #cardMenu="matMenu" class="small_menu card_menu">
                        <button mat-menu-item color="primary">Edit</button>
                    </mat-menu>
                </button>
            </div>
            <div class="post-content">
                <p class="paraText">
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                    tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                    It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
                    to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free
                    from repetition, injected humour, or non-characteristic words etc.
                </p>
            </div>
        </div> -->
    </div>

    <div class="comments-section">
        <div class="post-action-buttons">
            <button mat-button class="button-post-action" aria-label="Like">
                <!-- <mat-icon>favorite</mat-icon>  -->
                12 Likes
            </button>
            <button mat-button class="button-post-action" aria-label="Comment">
                <!-- <mat-icon>mode_comment</mat-icon>  -->
                2 Comments
            </button>
        </div>
        <div class="add-comment-wrapper">
            <div class="add-comment-field no-error-field form-field field-h-40">
                <figure class="image-cover">
                    <img class="img-cover-fit" src="assets/images/img_avatar3.png" alt="">
                </figure>
                <div class="input-field-wrapper">
                    <input type="text" class="input-form-control" placeholder="Add your comment">
                </div>
            </div>
        </div>

        <div *ngFor="let comment of [1,2,3,4,5]" class="comment_card">

            <div class="card_header_container profile_header with_content">
                <div class="mat-card-header">
                    <figure class="image-cover">
                        <img src="assets/images/img_avatar3.png" alt="">
                    </figure>

                    <div class="card-content">
                        <div class="content_row_1 reply_content_row">
                            <h3 class="small_heading user_name">
                                User Name
                            </h3>
                            <p class="paraText">

                                Material is an adaptable system of guidelines, components, and tools that support the
                                best practices of user interface design. Backed by open-source code.
                            </p>
                            <span class="paraText time-stamp">
                                12 July
                            </span>
                        </div>
                    </div>
                </div>


                <button mat-icon-button class="button-icon" [matMenuTriggerFor]="commentMenu">
                    <mat-icon class="align-center">more_vert</mat-icon>
                    <mat-menu #commentMenu="matMenu" class="small_menu card_menu">
                        <button mat-menu-item color="primary">Delete</button>
                    </mat-menu>
                </button>

            </div>
        </div>

    </div>

</div>