<div class="page-gratitude-journal-detail common-detail-page-ui">
    <div class="gratitude-journal-content">
        <div class="row-1">
            <div class="textual-detail">
                <div class="card_header_container profile_header">
                    <div class="card_header">
                        <figure mat-card-avatar class="image-cover">
                            <img class="img-cover-fit" src="assets/images/img_avatar3.png" alt="">
                        </figure>
                        <div class="heading-cover">
                            <a class="user_name" href="javascript:void()">User name</a>
                            <p class="posted-on-date">Posted on: 12 July, 2020</p>
                        </div>
                    </div>
                    <h1>Title here</h1>
                    <p>
                        Material is an adaptable system of guidelines, components, and tools that
                        support the
                        best practices of user interface design. Backed by open-source code.aterial is an adaptable
                        system
                        of guidelines, components, and tools that
                        support the
                        best practices of user interface design. Backed by open-source code.aterial is an adaptable
                        system
                        of guidelines, components, and tools that
                        support the
                        best practices of user interface design. Backed by open-source code.
                    </p>
                </div>
            </div>
            <div class="image-detail">
                <img src="assets/images/img_avatar3.png" alt="">
            </div>
        </div>
        <div class="row-2">
            <div class="like-cover"><span class="material-icons">thumb_up</span>
                <p>12</p>
            </div>
            <div class="like-cover"><span class="material-icons">comment</span>
                <p>4</p>
            </div>
        </div>
        <div class="row-3">
            <ul class="users-listing">
                <li class="single-user" *ngFor="let item of [1,2,3,4,5]">
                    <div class="li-content">
                        <div class="img-cover">
                            <img src="assets/images/img_avatar3.png" alt="Profile">
                        </div>
                        <div class="textual-cover">
                            <h4>User name
                                <p class="comment-time">3 days ago</p>
                            </h4>
                            <p class="comment">
                                Material is an adaptable system of guidelines, components, and tools that
                                support the
                                best practices of user interface design. Backed by open-source code.
                            </p>
                            <div class="like-cover">
                                <span class="material-icons">thumb_up</span>
                                <p>2</p>
                                <a class="see-hide-replies">See
                                    Replies (2)</a>
                            </div>
                        </div>
                        <!-- (click)="onNestedComment()" -->
                    </div>
                    <ul class="comment-listing">
                        <li class="single-comment">
                            <div class="li-content">
                                <div class="img-cover">
                                    <img src="assets/images/img_avatar3.png" alt="Profile">
                                </div>
                                <div class="textual-cover">
                                    <h4>User name
                                        <p class="comment-time">3 days ago</p>
                                    </h4>
                                    <p>
                                        Material is an adaptable system of guidelines, components, and tools that
                                        support the
                                        best practices of user interface design. Backed by open-source code.
                                    </p>
                                    <div class="like-cover"><span class="material-icons">thumb_up</span>
                                        <p>
                                            3
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>