<div class="page-expert-detail-page">
    <div class="expert-detail-content">
        <div class="detail-ui">
            <div class="row-1">
                <div class="left-portion">
                    <div class="img-cover">
                        <img [src]="data?.profilePicUrl |customImage:'IMAGE_PLACEHOLDER'|async" alt="User Profile Image">
                    </div>
                </div>
                <div class="right-portion">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="label">Expert Name</p>
                            <p class="value">{{data?.name | titlecase}}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Email</p>
                            <p class="value">{{data?.email}}</p>
                        </div>
                   
                        <div class="col-md-4">
                            <p class="label">Profession</p>
                            <p class="value">{{data?.profession | titlecase}}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Industry</p>
                            <p class="value">{{industry[data?.industry] }}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Category</p>
                            <p *ngFor="let item of data?.categoryData ; let i = index">
                                {{ item?.title | titlecase}}{{i< data?.categoryData?.length -1 ?',' : '' }}
                            </p>                        
                        </div>
                        <div class="col-md-4">
                            <p class="label">Experience</p>
                            <p class="value">{{(data?.experience | titlecase) || 'none'}}</p>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Bio</p>
                            <p class="value">
                                {{data?.bio | titlecase}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>