* {
	outline: none;
	font-family: 'Nunito Sans', sans-serif;
	box-sizing: border-box;
	word-break: break-word;
    list-style: none;
    margin: 0px;
}

@mixin clearfix() {
	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
 	 background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(315deg, #b58ecc 0%, #419ebb 63%);
	border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(315deg, #b58ecc 0%, #419ebb 63%);
}

a{
    text-decoration: underline;
    color: $theme-color;
}



.primary-detail{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    mat-form-field,
    app-dropdown-filter,
    app-mobile-number,
    app-input,
    .price-cover {
        width: 25%;
        &:not(:nth-child(4n)) {
            padding-right: 25px;
        }
        @media screen and (max-width: 1250px){
            width: 33.33%;
            &:not(:nth-child(4n)) {
                padding-right: 0px;
            }
            &:not(:nth-child(3n)) {
                padding-right: 20px;
            }
        }
        @media screen and (max-width: 768px){
            width: 50%;
            &:not(:nth-child(3n)) {
                padding-right: 0px;
            }
            &:not(:nth-child(2n)) {
                padding-right: 15px;
            }
        }
        @media screen and (max-width: 568px){
            width: 100%;
            &:not(:nth-child(2n)) {
                padding-right: 0px;
            }
        }
    }
}

.common-filter-cover{
    form{
        mat-form-field{
            margin-bottom: 10px;
            width: 100%;
        }
        .couple-filter-cover{
            padding-top: 1px;
            h6{
                margin: 15px 0px;
                font-size: 15px;
            }
            .couple-filter-content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                mat-form-field{
                    width: 50%;
                    &:first-child{
                        padding-right: 10px;
                    }
                    &:last-child{
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}

.no-data-cover {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    img {
        width: 300px;
        max-width: 80%;
    }
}