@import 'var';
mat-form-field {
    width: 100%;
    margin-bottom: 10px;
    .suffix {
        position: relative;
        top: -8px;
    }
}

.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button {
    font-weight: 400;
    height: auto;
    padding: 6px 12px !important;
    line-height: initial !important;
    min-width: 80 !important;
    @media screen and (max-width: 1600px) {
        padding: 5px 10px !important;
    }

    @media screen and (max-width: 568px) {
        padding: 4px 8px !important;
    }
}


.mat-menu-content {
    padding: 0;
}

.mat-card {
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 2px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2) !important;
}

.mat-radio-group {
    .mat-radio-button{
        &.mat-radio-button{margin-left: 20px;}
    }
}

.mat-checkbox{
    display: block;
    margin-bottom: 20px;
}

.table-cover{
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
}