@import './abstracts/mixins';
@import './ngx-theme';
@import './base/reset';
@import './components/material-styling';
@import './components/buttons';

.croppabelWrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.32);
}