<div class="page-add-event">
    <div class="add-event-content">

        <form [formGroup]="eventForm">
            <div class="row-1">
                <div class="left-portion">
                    <app-image-upload (uploadMedia)="setimageFile($event)" [profilePicURL]="profilePicURL" [aspectRatio]="3/2">
                    </app-image-upload>
                </div>
                <div class="right-portion">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Event Name</mat-label>
                                <input matInput placeholder="Name" formControlName="title" #title appWhiteSpace
                                    [maxlength]="eventNameMaxlength">
                                <mat-hint>{{title.value.trim().length}}/{{eventNameMaxlength}}</mat-hint>
                                <mat-error>{{form('title') |validate:'Event Name' }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="eventCategoryId">
                                    <mat-option [value]="item?._id" *ngFor="let item of eventCategory">
                                        {{item?.title | titlecase}}</mat-option>
                                </mat-select>
                                <mat-error>{{form('eventCategory') |validate:'Event Category' }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Choose a start date </mat-label>
                                <input [max]="maxDate"
                                    [min]="eventDetails?._id ? (eventDetails?.startDate ) :today "
                                    [owlDateTimeTrigger]="dt1" formControlName="startDate" matInput [owlDateTime]="dt1"
                                    placeholder="Start" readonly (dateTimeChange)="onStartDateSelected($event)">
                                <owl-date-time [hour12Timer]="true" #dt1></owl-date-time>
                                <mat-error>{{form('startDate') |validate:'Start Date' }}</mat-error>

                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Choose an end date</mat-label>
                                <input [min]="minForStartDate" [owlDateTimeTrigger]="dt2" formControlName="endDate"
                                    matInput [owlDateTime]="dt2" placeholder="End" readonly
                                    (dateTimeChange)="onDateSelected($event)" [max]="maxDate">
                                <owl-date-time [hour12Timer]="true" #dt2></owl-date-time>
                                <mat-error>{{form('endDate') |validate:'End Date' }}</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Privacy</mat-label>
                                <mat-select formControlName="privacy">
                                    <mat-option *ngFor="let data of privacyData" [value]="data?.value">{{data?.viewValue}}</mat-option>
                                </mat-select>
                                <mat-error>{{form('privacy') |validate:'Privacy' }}</mat-error>
                            </mat-form-field>
                        </div> -->
                        
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Event Location</mat-label>
                                <input matInput placeholder="Location" formControlName="address"
                                    (onSelect)="selectLocation($event)" autocomplete="off" appGooglePlaces appWhiteSpace>
                                <mat-error>{{form('address') |validate:'Event Location' }}</mat-error>

                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Price</mat-label>
                                <input matInput placeholder="Price " appWhiteSpace formControlName="price"
                                    [maxlength]="priceMaxLength" numeric>
                                <mat-error>{{form('price') |validate:' Price' }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline">
                                <mat-label>Website Link</mat-label>
                                <input matInput placeholder="URL" appWhiteSpace formControlName="eventUrl">
                                <mat-error>{{form('eventUrl') |validate:'Event Url' }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea rows="5" matInput placeholder="Ex. Write something here about this event..."
                                    appWhiteSpace formControlName="description" #description
                                    [maxlength]="descriptionMaxLength"></textarea>
                                <mat-hint>{{description.value.trim().length}}/{{ descriptionMaxLength}}</mat-hint>
                                <mat-error>{{form('description') |validate:'Description' }}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 checkbox-wrapper">
                            <mat-checkbox color="primary" formControlName="isFeatured">Mark as Featured</mat-checkbox>
                        </div>
                        <div class="col-md-6 checkbox-wrapper">
                            <mat-checkbox color="primary" formControlName="allowSharing">Mark as Allow Sharing
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="btn-row">
            <button class="btn btn-simple" mat-stroked-button type="button" (click)="onCancel()"> Cancel </button>
            <button class="btn btn-primary" mat-stroked-button type="button" (click)="onSubmit()">Upload </button>
        </div>
    </div>
</div>