$primary : #419ebb;
$secondary : #ff4da6;

$primary-light : lighten($primary, 43%);
$primary-dark : darken($primary, 40%);

// $secondary: #3d82ab;
// $secondary-light : lighten($secondary, 50%);
// $secondary-dark : darken($secondary, 40%);
    
/* default colors */
$text_color: #2b2b2b;

$white : #ffffff;
$black : #333333;
$yellow: #e8e759;
$blue: #4444e4;
$grey: gray;
$link: #e17582;
$red: #c40000;
$green: #007600;
$info:#25a9e0;
$lightgray : #bcbcbc;
$warning:#ffc107;
$status_green: #007600;
$status_red: #c40000;


/* Fonts */

$font : 'Nunito Sans', sans-serif;
