<app-table [tableSource]="tableSource"  (optionChange)="onOptionChange($event)" (onAddCahnges)="onAdd()">
 <ng-template appFor="answer" let-row="row">
      <a class="color-black" href="javascript:void(0)" title="{{ row?.answer | titlecase}}">
            {{ (row?.answer | titlecase)}}
     </a>
     </ng-template>
 
     <ng-template appFor="question" let-row="row">
        <a class="color-black" href="javascript:void(0)" title="{{ row?.question | titlecase}}">
            {{ (row?.question | titlecase )}}
        </a>
     </ng-template>
 
    <ng-container>
      <ng-template appFor="actions"  let-row="row">
             <div class="action-icon-cover">
                <i class="material-icons icon-edit" (click)="oneditHandler(row?._id)" title="Edit  ">
                    edit
                </i>
                 <i class="material-icons icon-delete" (click)="onActionHandler(row._id, 'deleted')" title="Delete FAQ">
                     delete
                 </i>
             </div>
         </ng-template>
     </ng-container> 

 </app-table>
 

