<!-- <div class="btn-row">
    <button class="btn btn-primary" style="margin-right: 10px;" (click)="onAdd()">Add</button>
    <button class="btn btn-primary" (click)="onDetails()">Details</button>
</div> -->


<app-table [tableSource]="tableSource"  (optionChange)="onOptionChange($event)" (onAddCahnges)="onAdd()">
    <ng-template appFor="created" let-notification="row">
         {{ notification?.created |customDate}}
     </ng-template>
 
     <!-- <ng-template appFor="status" let-notification="row">
         {{ notification?.status | titlecase}}
     </ng-template> -->
 
     <ng-template appFor="fullName" let-notification="row">
         <a href="javascript:void(0)" (click)="onDetails(notification?._id)" title="{{ notification?.title | titlecase}}">
             {{ notification?.title | titlecase}}
         </a>
     </ng-template>
 
     <ng-template appFor="likeCount" let-notification="row">
         <a (click)="onlikeHandler(notification._id, notification?.likeCount)" [class.color-black]="notification?.likeCount < 1">
             {{ notification?.likeCount}}
         </a>
     </ng-template>
 
     <ng-template appFor="profilePicUrl" let-notification="row">
        <div class="table-cell-image-cover" title="Click to see the image">
            <img [src]="notification?.image |customImage:'USER'|async" alt="notification-image"
                (click)="onImageClick(notification?.image)">
        </div>
    </ng-template>
 
   <ng-container>
 
         <ng-template appFor="actions"  let-notification="row">
             <div class="action-icon-cover">
                 <!-- <i class="material-icons icon-edit" (click)="oneditHandler(notification?._id)" title="Edit">
                     edit
                 </i> -->
                 <i class="material-icons icon-delete" (click)="onActionHandler(notification._id, 'deleted')" title="Delete">
                     delete
                 </i>
                 <!-- <i class="material-icons icon-block" (click)="onActionHandler(notification._id, 'blocked')" *ngIf="notification?.status === 'active';else templateAction"  title="Block">
                     blocked</i>
                 <ng-template #templateAction>
                     <i class="material-icons icon-unblock" (click)="onActionHandler(notification._id, 'active')" title="Unblock" >
                         lock_open
                     </i> 
                 </ng-template> -->
             </div>
         </ng-template>
     </ng-container>  
 </app-table>