<app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)">
    <ng-template appFor="createdAt" let-category="row">
        {{ category?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="status" let-category="row">
        {{ category?.status | titlecase}}
    </ng-template>

    <ng-template appFor="likeCount" let-category="row">
        <a (click)="likeHandler(category._id, category?.likeCount)" [class.color-black]="category?.likeCount < 1">
            {{ category?.likeCount}}
        </a>
    </ng-template>

    <ng-template appFor="commentCount" let-category="row">
        <a (click)="onCommentsHandler(category._id, category?.commentCount)" [class.color-black]="category?.commentCount < 1">
            {{ category?.commentCount}}
        </a>
    </ng-template>

    <ng-template appFor="name" let-category="row">
        <a href="javascript:void(0)">
            {{( category?.expertData?.name || '-') | titlecase }}
        </a>
    </ng-template>

    <ng-container>
        <ng-template appFor="actions" let-user="row">
            <div class="action-icon-cover">
                <i class="material-icons icon-block" (click)="onActionHandler(user._id, 'blocked')"
                    *ngIf="user?.status === 'active';else templateAction" title="Block user">
                    blocked</i>
                <ng-template #templateAction>
                    <i class="material-icons icon-unblock" (click)="onActionHandler(user._id, 'active')"
                        title="Unblock user">
                        lock_open
                    </i>
                </ng-template>
                <i class="material-icons icon-delete" (click)="onActionHandler(user._id, 'deleted')"
                    title="Delete user">
                    delete
                </i>
            </div>
        </ng-template>
    </ng-container>
</app-table>