<div class="page-like-action popup-ui">
    <div class="popup-header">
        <h3>Users going to the Event are shown below</h3>
        <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
    </div>
    <div class="popup-content">
        <div class="popup-body">
            <ul class="users-listing">
                <li class="single-user" *ngFor="let item of data">
                    <div class="img-cover">
                        <img [src]="item?.userData[0]?.profilePicUrl[0] | customImage:'USERS'|async " alt="Profile">
                    </div>
                    <div class="textual-cover">
                        <h4>
                            <span>{{item?.userData[0]?.firstName}} {{item?.userData[0]?.lastName || ''}}</span>
                            <p class="comment-time">{{item?.createdAt | time }}</p>
                        </h4>
                    </div>
                    <div class="see-profile-cover">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="small_menu">
                            <button mat-menu-item (click)="onSeeProfile(item?.userData[0]?._id)">
                                See Profile
                            </button>
                            <button mat-menu-item>
                                 {{item?.userData[0]?.status}} User
                            </button>
                        </mat-menu>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>