<div class="mat-card page-heading">
  <h1 class="mat-title">User Detail</h1>
</div>

<div class="mat-card info_data">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="img">
          <img src="assets/default-image/user.jpg" alt="Use Thumb"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Name </div>
        <div class="value"> 1234 </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Gender </div>
        <div class="value">  </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> DOB </div>
        <div class="value"> 17th Nov 1993</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Email Address </div>
        <div class="value"> marc1221@gmail.com </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Mobile Number </div>
        <div class="value"> +1 7838007167 </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Government ID Proof </div>
        <div class="value">
          <div class="flex-item">
            <div class="item-left">
              <span>UID Card</span>
              <span>12321233423223</span>
            </div>
            <div class="item-right">
              <span class="verify-status">Verified</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Address </div>
        <div class="value"> 23/E North Block, 6th Avenue
          California, Denmark </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="info_single">
        <div class="label"> Bio </div>
        <div class="value"> I am Marc. I run a software company of 15 people. I keep booking through Desknow for me and my team. I am Marc. I run a software
          company of 15 people. I keep booking through Desknow for me and my team.I am Marc. I run a software company of 15 people. I keep
          booking through Desknow for me and my team.I am Marc. I run a software company </div>
      </div>
    </div>
  </div>
  <div class="seprator"></div>
  <h3 class="title">Company Details</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Company Name </div>
        <div class="value"> A-One Softwares </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Company Email </div>
        <div class="value"> a2soft@email.com</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Office Number </div>
        <div class="value"> +1 098768676556</div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Registration Number </div>
        <div class="value">
          <div class="flex-item">
            <div class="item-left">
              <span>424233/RTR/32343</span>
            </div>
            <div class="item-right">
              <span class="verify-status">Verified</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="info_single">
        <div class="label"> Office Address </div>
        <div class="value"> 23/E North Block, 6th Avenue California, Denmark</div>
      </div>
    </div>
  </div>
  <div class="seprator"></div>
  <h3 class="title">Documents</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="img-wrap">
        <img src="assets/images/default-image/default.png" alt="Icon"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="img-wrap">
        <img src="assets/images/default-image/default.png" alt="Icon"/>
      </div>
    </div>
    <div class="col-md-4">
      <div class="img-wrap">
        <img src="assets/images/default-image/default.png" alt="Icon"/>
      </div>
    </div>
  </div>
  <div class="seprator"></div>
  <h3 class="title">Business Figures</h3>
  <div class="business-figures">
    <div class="item-row">
      <div class="item">
        <div class="item-inner">
          <p>Total Bookings</p>
          <strong>500</strong>
        </div>
      </div>
      <div class="item">
        <div class="item-inner">
          <p>Total Bookings</p>
          <strong>500</strong>
        </div>
      </div>
      <div class="item">
        <div class="item-inner">
          <p>Upcoming</p>
          <strong>500</strong>
        </div>
      </div>
      <div class="item">
        <div class="item-inner">
          <p>Total Revenue</p>
          <strong>500</strong>
        </div>
      </div>
      <div class="item">
        <div class="item-inner">
          <p>Total Reviews</p>
          <strong>2</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="seprator"></div>
  <div class="action-btn">
    <button mat-raised-button color="primary">Deactivate</button>
  </div>
</div>