.couple-filter-cover{
    padding-top: 1px;
    h6{
        margin: 0px;
        font-size: 15px;
        margin-bottom: -5px;
        font-size: 14px;
    }
    .couple-filter-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        mat-form-field{
            width: 50%;
            &:first-child{
                padding-right: 8px;
            }
            &:last-child{
                padding-left: 8px;
            }
        }
    }
}


:host ::ng-deep{
    .mat-datepicker-toggle{
        .mat-icon-button{
            padding: 0px !important;
            width: 24px !important;
            height: 24px !important;
        }
    }
    .mat-form-field-infix .mat-input-element{
        line-height: initial !important;
        min-height: initial !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex{
        padding: 0 .75em 0 .50em !important;
    }
}