<app-table [tableSource]="tableSource"  (optionChange)="onOptionChange($event)">

    <ng-template appFor="createdAt" let-user="row">
        {{ user?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="status" let-user="row">
        {{ user?.status | titlecase}}
    </ng-template>

    <ng-template appFor="profilePicUrl" let-category="row">
        <div class="category-image-cover">
         <img [src]="category?.profilePicUrl[0] |customImage:'USER'|async" alt="category-image" (click)="onImageClick(category?.profilePicUrl[0])">
        </div>
     </ng-template>


    <ng-template appFor="mobileNo" let-user="row">
        <div class="mobile-content" [class.verified-user]="user?.isMobileVerified">
            <span class="material-icons verified-icon" *ngIf="(user?.isMobileVerified) && (user?.mobileNo || user?.fullMobileNo)">verified_user</span>
            <span>{{ user?.mobileNo ?  user?.mobileNo  : (user?.fullMobileNo || '-' )}}</span>
        </div>
    </ng-template>

    <ng-template appFor="email" let-user="row">
        <div class="mobile-content" [class.verified-user]="user?.isEmailVerified">
            <span class="material-icons verified-icon" *ngIf="(user?.isEmailVerified) && (user?.email)">verified_user</span>
            <span >{{ user?.email}}</span>
        </div>
    </ng-template>
   

    <ng-template appFor="name" let-user="row" >
        <a href="javascript:void(0)" (click)="onDetailsHandler(user?._id)" title="{{ user?.firstName  | titlecase}} {{ user?.lastName | titlecase}}">
            {{ user?.firstName  | titlecase}} {{ user?.lastName | titlecase}}
         </a>
    </ng-template>

 <ng-container>

        <ng-template appFor="actions"  let-user="row">
            <div class="action-icon-cover">
                <i class="material-icons icon-check icon-edit" (click)="onverifyHandler(user?._id, 'verified' )" title="Verify User" [class.disabled-icon]="(user?.adminStatus == 'verified')">
                    check_circle
                </i>
                <i class="material-icons icon-deny" title="Reject User" (click)="onverifyHandler(user?._id, 'rejected')"  [class.disabled-icon]="(user?.adminStatus == 'rejected')">
                    thumb_down_alt
                </i>
                <i class="material-icons icon-delete" (click)="onActionHandler(user._id, 'deleted')" title="Delete user">
                    delete
                </i>
                <i class="material-icons icon-block" (click)="onActionHandler(user._id, 'blocked')" *ngIf="(user?.status === 'active' || user?.status === 'pending' );else templateAction"  title="Block user">
                    blocked</i>
                <ng-template #templateAction>
                    <i class="material-icons icon-unblock" (click)="onActionHandler(user._id, 'active')" title="Unblock user" >
                        lock_open
                    </i>
                </ng-template>
            </div>
        </ng-template>
    </ng-container> 
</app-table>
