@import "abstracts/variables";
:host {
    .icon-check {
        color: $primary;
        font-size: 21px;
    }
    .icon-deny {
        color: #ce0000;
    }
}

.users-status-count {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -56px;
    padding-bottom: 16px;
    .btn {
        height: 40px;
        .badge-count {
            padding: 1px 8px;
            background-color: $primary;
            color: white;
            display: inline-block;
            margin-left: 10px;
            border-radius: 10px;
            line-height: 15px;
            margin-top: -3px;
        }
        &:not(:nth-last-of-type(1)) {
            margin-right: 15px;
        }
        &.btn-primary{
            .badge-count{
                background-color: white;
                color: $primary;
            }
        }
    }
}
