<div class="users-status-count">
    <button class="btn" mat-stroked-button (click)="onAdminStatusHandler('verified')" [ngClass]="{'btn-primary': eventData?.filterData?.adminStatus == 'verified'}">Verified
        <span class="badge-count">{{statusCount?.verifiedCount || 0}}</span>
    </button>
    <button class="btn" mat-stroked-button (click)="onAdminStatusHandler('pending')" [ngClass]="{'btn-primary': eventData?.filterData?.adminStatus == 'pending'}">Pending
        <span class="badge-count">{{statusCount?.pendingCount || 0}}</span>
    </button>
    <button class="btn" mat-stroked-button (click)="onAdminStatusHandler('rejected')" [ngClass]="{'btn-primary': eventData?.filterData?.adminStatus == 'rejected'}">Declined
        <span class="badge-count">{{statusCount?.rejectedCount || 0}}</span>
    </button>
</div>

<div class="users-listing-page">
    <app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)">

        <ng-template appFor="createdAt" let-user="row">
            {{ user?.createdAt |customDate}}
        </ng-template>

        <ng-template appFor="status" let-user="row">
            {{ user?.adminStatus | titlecase}}
        </ng-template>

        <ng-template appFor="profilePicUrl" let-category="row">
            <div class="category-image-cover" title="Click to see the image">
                <img [src]="category?.profilePicUrl[0] |customImage:'USER'|async" alt="category-image"
                    (click)="onImageClick(category?.profilePicUrl[0])">
            </div>
        </ng-template>


        <ng-template appFor="mobileNo" let-user="row">
            <span>{{ user?.mobileNo ?  user?.mobileNo  : (user?.fullMobileNo || '-' )}}</span>
        </ng-template>

        <ng-template appFor="email" let-user="row">
            <span>{{ user?.email}}</span>
        </ng-template>


        <ng-template appFor="name" let-user="row">
            <a href="javascript:void(0)" (click)="onDetailsHandler(user?._id)"
                title="{{ user?.firstName  | titlecase}} {{ user?.lastName | titlecase}}">
                {{ user?.firstName  | titlecase}} {{ user?.lastName | titlecase}}
            </a>
        </ng-template>

        <ng-container>

            <ng-template appFor="actions" let-user="row">
                <div class="action-icon-cover">
                    <i class="material-icons icon-check icon-edit" (click)="onverifyHandler(user?._id, 'verified' )"
                        title="Verify User" [class.disabled-icon]="(user?.adminStatus == 'verified')">
                        check_circle
                    </i>
                    <i class="material-icons icon-deny" title="Reject User"
                        (click)="onverifyHandler(user?._id, 'rejected')"
                        [class.disabled-icon]="(user?.adminStatus == 'rejected')">
                        cancel
                    </i>
                    <i class="material-icons icon-block" (click)="onActionHandler(user._id, 'blocked')"
                        *ngIf="user?.status === 'active';else templateAction" title="Block user">
                        blocked</i>
                    <ng-template #templateAction>
                        <i class="material-icons icon-unblock" (click)="onActionHandler(user._id, 'active')"
                            title="Unblock user">
                            lock_open
                        </i>
                    </ng-template>
                    <i class="material-icons icon-delete" (click)="onActionHandler(user._id, 'deleted')"
                        title="Delete user">
                        delete
                    </i>
                </div>
            </ng-template>
        </ng-container>
    </app-table>
</div>