<div class="page-like-action popup-ui">
    <div class="popup-header">
        <h3>Report</h3>
        <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
    </div>
    <div class="popup-content">
        <div class="popup-body">
            <ul class="users-listing">
                <li class="single-user" *ngFor="let item of data">
                    <div class="img-cover">
                        <img alt="Profile"  [src]="item?.userData?.profilePicUrl[0] |customImage:'IMAGE_PLACEHOLDER'|async" >
                    </div>
                    <div class="textual-cover">
                        <h4><span>{{item?.userData?.firstName}} {{item?.userData?.lastName}}</span>
                            <p class="comment-time">{{item?.createdAt | time}}</p>
                            <p>{{item?.reason}}</p>
                        </h4>
                    </div>
                    <div class="see-profile-cover">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="onSeeProfile(item?.userData?._id)">
                                See Profile
                            </button>
                        </mat-menu>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>