<div class="page-content">
    
<ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="type == 1">
        <ng-container *ngTemplateOutlet="privacyTemplate">

        </ng-container>
    </ng-container>
    <ng-container  *ngSwitchCase="type == 2">
        <ng-container *ngTemplateOutlet="termsTemplate">
         </ng-container>
    </ng-container>
    <ng-container  *ngSwitchCase="type == 3">
        <ng-container *ngTemplateOutlet="faqTemplate">
         </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="type == 4">
        <ng-container *ngTemplateOutlet="contactUsTemplate">

        </ng-container>
    </ng-container>
    <ng-container  *ngSwitchCase="type == 5">
        <ng-container *ngTemplateOutlet="aboutusTemplate">

        </ng-container>
    </ng-container>
</ng-container>


<ng-template #termsTemplate>
    <h1 class="content-heading">Terms and conditions</h1>
    <div [innerHtml]="content"></div>
</ng-template>

<ng-template #aboutusTemplate>
    <h1 class="content-heading">About Us</h1>
    <div [innerHtml]="content"></div>
</ng-template>

<ng-template #faqTemplate>
    <h1 class="content-heading">FAQ</h1>
    <div [innerHtml]="content"></div>
</ng-template>

<ng-template #privacyTemplate>
    <h1 class="content-heading">Privacy Policy</h1>
    <div [innerHtml]="content"></div>
</ng-template>

<ng-template #contactUsTemplate>
    <h1 class="content-heading">Contact Us</h1>
    <div [innerHtml]="content"></div>
</ng-template>
</div>