<app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)" (onAddCahnges)="onAdd()">
    <ng-template appFor="createdAt" let-row="row">
        {{ row?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="postedAt" let-row="row">
        {{ row?.postedAt |customDate}}
        <!-- {{ '2020-08-19T18:30:00.000Z' |date}} -->
    </ng-template>

    <ng-template appFor="status" let-row="row">
        {{ row?.status | titlecase}}
    </ng-template>

    <ng-template appFor="reportCount" let-row="row">
        <a  [class.erroneous]="row?.reportCount < 10" (click)="onReportProblem(row?._id, row?.reportCount)" [ngClass]="{'color-black': !row.reportCount , 'erroneous': row.reportCount <= 10}">
            {{ row?.reportCount || 0}}
        </a>
    </ng-template>

    <ng-template appFor="mediaUrl" let-row="row">
        <div class="table-cell-image-cover" (click)="onImageClick(row?.mediaUrl, row?.mediaType)">
            <img [src]="(row?.mediaUrl ) |customImage:'IMAGE_PLACEHOLDER'|async" *ngIf="row?.mediaType == 1" alt="category-image" title="Click to see the image">
            <span class="material-icons" *ngIf="row?.mediaType == 2" title="Click to see the video">play_circle_filled</span>
        </div>
    </ng-template>
    
    <ng-template appFor="title" let-post="row">
        <a href="javascript:void(0)" (click)="onDetailsHandler(post?._id)" title="{{ post?.title | titlecase}}">
            {{ post?.title | titlecase}}
        </a>
    </ng-template>

    <ng-template appFor="likeCount" let-row="row">
        <a (click)="likeHandler(row?._id, row?.likeCount)" [class.color-black]="row?.likeCount < 1">
            {{ row?.likeCount}}
        </a>
    </ng-template>

    <ng-template appFor="commentCount" let-row="row">
        <a (click)="onCommentsHandler(row?._id, row?.commentCount)" [class.color-black]="row?.commentCount < 1">
            {{ row?.commentCount}}
        </a>
    </ng-template>

    <!-- <ng-template appFor="description" let-post="row">
             {{ post?.description | titlecase}}
     </ng-template> -->

    <ng-container>

        <ng-template appFor="actions" let-user="row">
            <div class="action-icon-cover">
                <i class="material-icons icon-edit" (click)="oneditHandler(user?._id)" title="Edit"
                    [class.disabled-icon]="user?.status != 'active'">
                    edit
                </i>
                <i class="material-icons icon-block" (click)="onActionHandler(user._id, 'blocked')"
                    *ngIf="user?.status === 'active';else templateAction" title="Block ">
                    blocked</i>
                <ng-template #templateAction>
                    <i class="material-icons icon-unblock" (click)="onActionHandler(user._id, 'active')"
                        title="Unblock">
                        lock_open
                    </i>
                </ng-template>
                <i class="material-icons icon-delete" (click)="onActionHandler(user._id, 'deleted')"
                    title="Delete">
                    delete
                </i>
            </div>
        </ng-template>
    </ng-container>
</app-table>