<div class="page-edit-profile popup-ui">
  <div class="popup-header">
    <h3>Edit Profile</h3>
    <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
  </div>
  <form [formGroup]="editProfileForm" >


  <div class="popup-body" >
    <!-- <div class="img-cover">
      <img [src]="profilePicURL|customImage:'USER'|async" alt="">
      <div class="mat-icon-cover">
        <button type="button" class="camBtn" mat-mini-fab color="primary">
          <mat-icon>camera_alt</mat-icon>
          <input type="file" accept="image/x-png,image/jpeg" #file (change)="onSelectFile($event)"
            matTooltip="Change Image" />
        </button>
      </div> 
    </div> -->
    <media-upload (uploadMedia)="setimageFile($event)" [profilePicURL]="profileDetail?.profilePicture"></media-upload>

    <div class="profile-detail">
      <div class="single-profile-detail">
        <label for="">Name:</label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="name" placeholder="Name">
          <mat-error>{{getControl('name')|validate:'name'}}</mat-error>
        </mat-form-field>
      </div>
      <div class="single-profile-detail">
        <label for="">Email:</label>
        <p>{{profileDetail?.email}}</p>
      </div>
    </div>
  </div>

</form>
  <div class="popup-footer">
    <button class="btn" mat-stroked-button (click)="onCancel()" type="button">Cancel</button>
      <button class="btn btn-primary" mat-stroked-button color="primary" type="submit" (click)="editProfile()">Update</button>
  </div>
</div>
