<div class="page-edit-profile popup-ui">
  <div class="popup-header">
    <h3>Edit Profile</h3>
    <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
  </div>
  <div class="popup-content">


    <div class="popup-body">
      <form [formGroup]="editProfileForm">

        <app-image-upload (uploadMedia)="setimageFile($event)" [profilePicURL]="profileDetail?.profilePicture" [isCropper]="true" [aspectRatio]="4/4"></app-image-upload>

        <div class="profile-detail">
          <div class="single-profile-detail">
            <label for="">Name:</label>
            <mat-form-field appearance="outline">
              <input matInput formControlName="name" placeholder="Name" appWhiteSpace>
              <mat-error>{{getControl('name')|validate:'name'}}</mat-error>
            </mat-form-field>
          </div>
          <div class="single-profile-detail">
            <label for="">Email:</label>
            <p>{{profileDetail?.email}}</p>
          </div>
        </div>
      </form>
    </div>



    <div class="popup-footer">
      <button class="btn" mat-stroked-button (click)="onCancel()" type="button">Cancel</button>
      <button class="btn btn-primary" mat-stroked-button color="primary" type="submit"
        (click)="editProfile()">Update</button>
    </div>
  </div>
</div>
<div>        </div>