:host{
	@import '../../../../../../sass/components/popup-ui';
}
:host ::ng-deep{
			.page-media-upload{
				.img-cover{
					border-radius: 50% !important;
					img{
						border-radius: 50% !important;
					}
					.mat-icon-cover{
						bottom: 0px !important;
						right: 0px !important;
					}
				}
			}
	
}


.profile-detail {
	.single-profile-detail {
		display: flex;
		align-items: center;
		@media screen and (max-width: 768px) {
			margin-bottom: 5px;
		}
		
		@media screen and (max-width: 670px) {
			justify-content: center;
		}
		
		@media screen and (max-width: 400px) {
			justify-content: flex-start;
		}

		label {
			min-width: 100px;
			margin: 0px;

			@media screen and (max-width: 768px) {
				min-width: 80px;
			}

			@media screen and (max-width: 670px) {
				min-width: fit-content;
				margin-right: 10px;
				font-size: 14px;
			}

			@media screen and (max-width: 400px) {
				min-width: 60px;
				margin-right: 0px;
			}
		}

		p {
			margin: 0px;

			@media screen and (max-width: 568px) {
				font-size: 14px;
			}
		}
	}
}

input [ type=file] {
	cursor: pointer !important;
}