<div class="confirm-box-page popup-ui">
    <div class="popup-header">
        <h3>{{data.title}}</h3>
        <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
    </div>
    <div class="popup-content">
        <div class="popup-body">
            <p class="dialog__body" [innerHTML]="data.message"></p>
        </div>
        <div class="popup-footer">
            <button class="btn" mat-stroked-button color="primary" [mat-dialog-close]="false">Cancel</button>
            <button class="btn btn-primary" mat-stroked-button color="primary" [mat-dialog-close]="true">Confirm</button>
        </div>
    </div>
</div>