<div class="page-add-advice">
    <div class="add-daily-advice-content">
        
        <form [formGroup]="adviceForm">
     <div class="row-1">
            <media-upload (uploadMedia)="setimageFile($event)" [profilePicURL]="profilePicURL"></media-upload>

                <div class="right-portion">
                    <mat-form-field appearance="outline">
                        <mat-label>Advice Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title" #input [maxlength]="titleMaxLength" appWhiteSpace>
                        <mat-hint>{{input.value.length}}/{{titleMaxLength}}</mat-hint>
                        <mat-error>{{form('title') |validate:'Title' }}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="description"
                            #description [maxlength]="descriptionMaxLength" appWhiteSpace></textarea>
                        <mat-hint>{{description.value.length}}/{{descriptionMaxLength }}</mat-hint>
                        <mat-error>{{form('description')  |validate:'Description'}}</mat-error>
                    </mat-form-field>

                    <div class="post-later">
                        <mat-checkbox formControlName="isPostLater">Check me!</mat-checkbox>
                        <mat-form-field class="later-date-picker" color="accent"
                            *ngIf="adviceForm?.contains('postedAt')" appearance="outline">
                            <input matInput [matDatepicker]="picker" [min]="today" formControlName="postedAt"
                                (click)="picker.open()" placeholder="Date" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error>{{form('postedAt')  |validate:'Posted At' }}</mat-error>
                        </mat-form-field>

                    </div>
                </div>
            </div>
        </form>
        <div class="btn-row">
            <button class="btn btn-simple" mat-stroked-button type="button" (click)="onCancel()"> Cancel </button>
            <button class="btn btn-primary" mat-stroked-button type="submit" (click)="onSubmit()">Upload </button>
        </div>
    </div>
</div>