<div class="page-user-details">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">

        <mat-tab label="Basic Details">
            <app-user-basic-detail [userDetails]="userDetails"></app-user-basic-detail>
        </mat-tab>
        <mat-tab label="Gratitude and Self-Love">
            <ng-container *ngIf="userData">
                <app-user-gratitude-journal [userId]="userDetails?._id"  [userData]="userData" (changeHandler)="onOptionChange($event)" ></app-user-gratitude-journal>            
            </ng-container>
        </mat-tab>
        <mat-tab label="Events">
            <ng-container *ngIf="eventListData">
                <app-user-events [userData]="eventListData" [userId]="userDetails?._id"  (changeHandler)="onOptionChange($event)"></app-user-events>
           </ng-container>
        </mat-tab>
        <mat-tab label="Topics">
            <app-user-topics ></app-user-topics>
        </mat-tab>
        <mat-tab label="Shoutouts">
            <ng-container *ngIf="shoutoutsListData">
                <app-user-shoutouts [userData]="shoutoutsListData" [userId]="userDetails?._id"  (changeHandler)="onOptionChange($event)"></app-user-shoutouts>
           </ng-container>
        </mat-tab>

    </mat-tab-group>

</div>