<div class="page-user-details">
    <mat-tab-group>

        <mat-tab label="Basic Details">
            <app-user-basic-detail [data]="userDetails"></app-user-basic-detail>
        </mat-tab>
        <mat-tab label="Gratitude Journal">
            <app-user-gratitude-journal [data]="userDetails"></app-user-gratitude-journal>
        </mat-tab>
        <mat-tab label="Events">
            <app-user-events></app-user-events>
        </mat-tab>
        <mat-tab label="Topics">
            <app-user-topics></app-user-topics>
        </mat-tab>
        <mat-tab label="Shoutouts">
            <app-user-shoutouts></app-user-shoutouts>
        </mat-tab>

    </mat-tab-group>

</div>