<div class="page-like-action popup-ui">
    <div class="popup-header">
        <h3>Likes</h3>
        <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
    </div>
    <div class="popup-content">
        <div class="popup-body">
            <ul class="users-listing" >
                <li class="single-user" *ngFor="let item of data">
                    <div class="img-cover">
                        <img [src]="item?.user?.profilePicUrl[0] |customImage:'USER'|async" alt="Profile" (click)="onViewPic(item?.user?.profilePicUrl[0])">
                    </div>
                    <div class="textual-cover">
                        <h4><span title="{{item?.user?.name}}">{{item?.user?.firstName}} {{item?.user?.lastName}}</span>
                            <p class="comment-time">{{item?.createdAt | time}}</p>
                        </h4>
                    </div>
                    <div class="see-profile-cover">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="card_menu">
                            <button mat-menu-item (click)="onSeeProfile(item?.user?._id)">
                                See Profile
                            </button>
                        </mat-menu>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>