<div class="notification-detail-page">
    <div class="notification-detail-content">
        <div class="detail-ui">
            <div class="row-1">
                <div class="right-portion">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="label">Notification Title</p>
                            <p class="value">{{notificationData?.title | titlecase}} </p>
                        </div>
                        <div class="col-md-6">
                            <p class="label">Sent on Date</p>
                            <p class="value">
                                {{notificationData?.createdAt |customDate}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="label">Sent Count </p>
                            <p class="value">
                                {{notificationData?.sentCount || 0}}
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Message</p>
                            <p class="value">
                                {{notificationData?.message | titlecase}}                           
                             </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-row">
                <button class="btn btn-simple" mat-stroked-button type="button" (click)="onActionHandler()"> Delete </button>
                <button class="btn btn-primary" mat-stroked-button type="button" (click)="onSubmit()">Resend </button>
            </div>
        </div>
    </div>
</div>