<div class="notification-detail-page">
    <div class="notification-detail-content">
        <div class="detail-ui">
            <div class="row-1">
                <div class="left-portion">
                    <div class="img-cover">
                        <img src="assets/images/img_avatar3.png" alt="User Profile Image">
                    </div>
                </div>
                <div class="right-portion">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="label">Notification Title</p>
                            <p class="value">New Updates coming soon </p>
                        </div>
                        <div class="col-md-6">
                            <p class="label">Sent on Date</p>
                            <p class="value">
                                20th July 2020
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="label">Sent on Time </p>
                            <p class="value">
                                10: 45 AM
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Sent To</p>
                            <div class="radio-buttons-wrapper value">
                                <mat-radio-group color="primary" aria-label="Select an option">
                                    <mat-radio-button value="1">All Users</mat-radio-button>
                                    <mat-radio-button value="2">iOS</mat-radio-button>
                                    <mat-radio-button checked value="3">Android</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Description</p>
                            <p class="value">
                                Exciting News! We are introducing new features in our next update. Stay tuned!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-row">
                <button class="btn btn-simple" mat-stroked-button type="button"> Edit </button>
                <button class="btn btn-primary" mat-stroked-button type="submit">Resend </button>
            </div>
        </div>
    </div>
</div>