@import 'abstracts/variables';

.table-container{
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    .table-cover{
        overflow-x: auto;
        max-width: 100%;
        table {
            width: 100%;
        }
    }
    .mat-paginator{
        box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.14);
    }
}
:host {
    .mat-header-row{
        height: 48px;
        background-color: $primary;
    }
    th{
        &.mat-header-cell {
            border-bottom-width: 0;
            border-bottom-style: none;
            font-size: 14px;
            color: white;
            white-space: nowrap;
            background-color: $primary;
            &:first-child{
                width: 77px;
            }
            &:not(:first-child){
                padding-left: 10px;
            }
            &:not(:last-child){
                padding-right: 10px;
            }
        }
    }
  
    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        border-bottom-width: 0;
        border-bottom-style: none;
    }
  
    .mat-elevation-z1 {
        box-shadow: none;
    }
  
    .mat-header-cell {
        font-weight: 300;
        color: #59798b;
        font-size: 11px;
    }
  
    td{
        &.mat-cell {
            font-size: 13px;
            color: black;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 250px;
            @media (max-width: 991px) {
                font-size: 11px;
                max-width: 220px;
            }
            &:nth-of-type(2) {
                font-size: 14px;
                letter-spacing: .5px;
                // font-weight: 700;
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            &:not(:first-child){
                padding-left: 10px;
            }
            &:not(:last-child){
                padding-right: 10px;
            }
        }
    }
    .mat-row{
        height: 45px;
        &:first-child{
            &:hover{
                box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.3);
            }
        }
        &:hover {
            box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.22);
        }
        &:nth-of-type(even){
            background: #f3f3f3;
            &:hover{
                box-shadow: 0 0px 5px 1px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .listing-filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 5px;
        margin-top: -14px;
        .left-side-filters{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            @media screen and (max-width: 768px){
                width: calc(100% - 110px);
            }
            .left-filter-child{
                @media screen and (max-width: 768px){
                    width: 100%;
                }
            }
        }
        .right-side-filters{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            padding: 10px 0px;
            .filter-button{
                position: relative;
                background: white;
                border: none;
                border-radius: 50%;
                color: $primary;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                cursor: pointer;
                height: 40px;
                box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
                transition: .3s;
                &:hover{
                    .filter-button-bg{   
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        background: linear-gradient(323deg, #bc88da 14%, #409fbb 98%);
                        color: white;
                        animation: rotate 1s linear infinite;
                    }
                    mat-icon{
                        position: absolute;
                        color: white;
                        z-index: 1;
                    }
                }
            }
            button{
                &:not(:first-child){
                    margin-left: 15px;
                }
            }
        }
    }
}


.table-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    .image-cover {
        width: 50px;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
        margin: 5px 0 10px;
    }
    span {
        font-weight: 500;
        font-size: 15px;
    }
}

:host ::ng-deep{
    .mat-sort-header-container{
        justify-content: center;
    }
    .cdk-overlay-pane{
        &.filter-modal{
            position: fixed;
            margin-right: 20px !important;
        }
    }
    td{
        a{
            &.color-black{
                color: black;
                cursor: inherit;
                text-decoration: initial;
            }
        }
        &.mat-cell{
            .table-cell-image-cover {
                width: 40px;
                height: 37px;
                border-radius: 3px;
                margin: auto;
                display: flex;
                background-color: #f7f7f7;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                    object-fit: cover;
                }
                span{
                    width: 100%;
                    line-height: 37px;
                    color: #a5a5a5;
                    font-size: 26px;
                }
            }
        }
    }
    .mat-badge-medium{
        .mat-badge-content{
            background-color: $primary;
            width: 20px;
            height: 20px;
            line-height: 20px;
        }
        &.mat-badge-after{
            .mat-badge-content{
                right: -3px;
            }
        }
    }
}






@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}