@import '../../../../../sass/components/popup-ui';

.new-password-cover, .confirm-password-cover{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .new-password{
        width: calc(100% - 35px);
        margin-right: 10px;
        float: left;
    }
    .confirm-password{
        width: calc(100% - 35px);
        margin-right: 10px;
        float: left;
    }
}
mat-icon{
    &.info-icon{
        color: $primary;
        cursor: pointer;
        margin-top: 25px;
    }
}
h4{
    color: #1d1d1d;
    margin-bottom: 15px;
    font-weight: bold;
}
ul{
    li{
        font-size: 14px;
        white-space: nowrap;
        padding: 2px 0px;
        color: red;
        display: flex;
        align-items: center;
        mat-icon{
            margin-right: 10px;
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
        &.fulfill{
            color: green;
        }
    }
}