<div class="page-invalid-password-hint">
  <mat-icon class="info-icon" [matMenuTriggerFor]="menu"
    [ngStyle]="{'color': control.invalid && control.touched ? 'red': '#419ebb'}" [class.info-icon-green]="control.valid">info</mat-icon>
  <mat-menu #menu="matMenu" class="password-hint-menu">
    <h4> Password must have :- </h4>
    <ul>
      <li [ngClass]="{fulfill: checkValue('lowercase', 'password')}">
        <mat-icon *ngIf="!checkValue('lowercase', 'password')">close</mat-icon>
        <mat-icon *ngIf="checkValue('lowercase', 'password')">done</mat-icon> Atleast one lowercase alphabet.
      </li>
      <li [ngClass]="{fulfill: checkValue('uppercase', 'password')}">
        <mat-icon *ngIf="!checkValue('uppercase', 'password')">close</mat-icon>
        <mat-icon *ngIf="checkValue('uppercase', 'password')">done</mat-icon>Atleast one uppercase alphabet.
      </li>
      <li [ngClass]="{fulfill: checkValue('numeric', 'password')}">
        <mat-icon *ngIf="!checkValue('numeric', 'password')">close</mat-icon>
        <mat-icon *ngIf="checkValue('numeric', 'password')">done</mat-icon>Atleast one numeric value.
      </li>
      <li [ngClass]="{fulfill: checkValue('special', 'password')}">
        <mat-icon *ngIf="!checkValue('special', 'password')">close</mat-icon>
        <mat-icon *ngIf="checkValue('special', 'password')">done</mat-icon>Atleast one special character.
      </li>
      <li [ngClass]="{fulfill: checkValue('length', 'password')}">
        <mat-icon *ngIf="!checkValue('length', 'password')">close</mat-icon>
        <mat-icon *ngIf="checkValue('length', 'password')">done</mat-icon> 8 characters long.
      </li>
    </ul>
  </mat-menu>
</div>