<app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)">
    <ng-template appFor="createdAt" let-category="row">
        {{ category?.createdAt |customDate}}
    </ng-template>

    <!-- <ng-template appFor="status" let-category="row">
        {{ category?.status | titlecase}}
    </ng-template> -->

    <ng-template appFor="status" let-data="row" >
        <p [class.status_expired]="data?.isExpired">{{data?.isExpired ? 'Expired' : (data?.status | titlecase)}}</p>
     </ng-template>

    <ng-template appFor="title" let-category="row">
        <a (click)="onEventHandler(category?._id)" >
            {{ category?.title | titlecase}}
        </a>
    </ng-template>

    <ng-template appFor="addedBy" let-data="row">
        {{ data?.userType | titlecase}}
    </ng-template>

    <ng-template appFor="startDate" let-row="row">
        {{ row?.startDate |dateTime}}
    </ng-template>
    
   <ng-template appFor="endDate" let-row="row">
        {{ row?.endDate |dateTime}}
    </ng-template>


    <ng-template appFor="eventCategory" let-data="row">
        {{ data?.eventCategoryName | titlecase}}
    </ng-template>

  

    <ng-template appFor="imageUrl" let-row="row">
       <div class="table-cell-image-cover event-image-cover" title="Click to see the image">
           <img [src]="row?.imageUrl |customImage:'IMAGE_PLACEHOLDER'|async" alt="row-image"
               (click)="onImageClick(row?.imageUrl)">
       </div>
   </ng-template>
    <!-- <ng-template appFor="privacy" let-category="row">
        {{ category?.privacy | titlecase}}
    </ng-template> -->



    <!-- <ng-template appFor="likeCount" let-category="row">
        <a (click)="likeHandler(category._id, category?.likeCount)" [class.color-black]="category?.likeCount < 1">
            {{ category?.likeCount}}
        </a>
    </ng-template>

    <ng-template appFor="commentCount" let-category="row">
        <a (click)="onCommentsHandler(category._id, category?.commentCount)" [class.color-black]="category?.commentCount < 1">
            {{ category?.commentCount}}
        </a>
    </ng-template> -->

    <!-- <ng-template appFor="name" let-category="row">
        <a (click)="onExpertDetailsHandler(category?.expertId)" >
            {{ category?.expertData?.name}}
        </a>
    </ng-template> -->



  


    <ng-template appFor="profilePicUrl" let-category="row">
        <div class="table-cell-image-cover" (click)="onImageClick(category?.imageUrl, category?.mediaType)">
            <img [src]="(category?.imageUrl )|customImage:'IMAGE_PLACEHOLDER'|async"  alt="category-image" title="Click to see the image">
            <!-- <img [src]="(category?.thumbnailUrl )" *ngIf="category?.mediaType == 2" alt="category-image" title="Click to see the video"> -->
            <!-- <span class="material-icons" *ngIf="category?.mediaType == 2" title="Click to see the video">play_circle_filled</span> -->
        </div>
    </ng-template>

    <!-- <ng-template appFor="pic" let-category="row">
        <div class="table-cell-image-cover" (click)="onImageClick(category?.expertData?.profilePicUrl[0], 1)">
            <img [src]="(category?.expertData?.profilePicUrl[0] )|customImage:'IMAGE_PLACEHOLDER'|async" alt="category-image" title="Click to see the image">
        </div>
    </ng-template> -->

    <ng-container>
        <ng-template appFor="actions" let-user="row">
            <div class="action-icon-cover">
                <i class="material-icons icon-edit" (click)="oneditHandler(user?._id , user?.endDate, user?.userType)" title="Edit" [class.disabled-icon]="today > user?.endDate || user?.userType == 'user'">
                    edit
                </i>
                <i class="material-icons icon-block" (click)="onActionHandler(user._id, 'blocked', user?.endDate )"
                    *ngIf="user?.status === 'active';else templateAction" title="Block" [class.disabled-icon]="today > user?.endDate ">
                    blocked</i>
                <ng-template #templateAction>
                    <i class="material-icons icon-unblock" (click)="onActionHandler(user._id, 'active', user?.endDate  )"
                        title="Unblock" [class.disabled-icon]="today > user?.endDate ">
                        lock_open
                    </i>
                </ng-template>
                <!-- <i class="material-icons icon-delete" (click)="onActionHandler(user._id, 'deleted',row?.endDate , row?.userType)"
                    title="Delete" [class.disabled-icon]="today > row?.endDate ||  row?.userType== 'user'">
                    delete
                </i> -->
            </div>
        </ng-template>
    </ng-container>
</app-table>