:host{
    @import 'components/detail-ui';
    // @import 'abstracts/variables';
}
.event-detail-page{
    padding: 15px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
    .section-1{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
        .left-portion{
            width: calc(100% - 300px);
            padding-right: 30px;
            .event-cover-photo{
                width: 100%;
                height: auto;
                margin-bottom: 10px;
                img{
                    width: 100%;
                    max-height: 100%;
                    height: auto;
                    box-shadow: 0px 0px 3px 1px rgba(0,0,0,.6);
                }
            }
            .event-about{
                width: 100%;
                word-break: break-word;
                .event-title{
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .btn-row{
                margin-top: 16px;
                justify-content: flex-end;
            }
        }
        .right-portion{
            width: 300px;
            p{
                &.value{
                    margin-top: 3px;
                }
            }
            .event-info{
                width: 100%;
                .like-cover{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .material-icons{
                        font-size: 20px;
                        margin-right: 5px;
                        &.going-icon{
                            color: #10c310;
                        }
                        &.heart-icon{
                            color: #f1268c;
                        }
                    }
                }
            }
        }
    }
}