<div class="event-detail-page">
    <div class="event-detail-content">
        <div class="section-1">
            <div class="left-portion">
                <div class="event-cover-photo">
                    <img src="assets/images/event-dummy-img.jpg">
                </div>
                <div class="event-about">
                    <h4 class="event-title">National event</h4>
                    <p>Material icons are delightful, beautifully crafted symbols for common actions and items. Download
                        on desktop to use them in your digital products for Android, iOS, and web.
                        Material icons are delightful, beautifully crafted symbols for common actions and items.
                        Download on desktop to use them in your digital products for Android, iOS, and web.
                        Each symbol is available in five themes and a range of downloadable sizes and densities. For web
                        projects, the best format is our easy-to-use icon web font.
                    </p>
                </div>
                <div class="btn-row">
                    <button class="btn btn-primary" mat-stroked-button type="submit">Accept </button>
                    <button class="btn btn-simple" mat-stroked-button type="button"> Reject </button>
                </div>
            </div>
            <div class="right-portion">
                <div class="event-info detail-ui">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="label">Event Date & Time</p>
                            <p class="value">Aug 10, 2020 || 01:30 PM - 06:00 PM</p>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Event Place</p>
                            <p class="value">National Park, Seychelles</p>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Event Price</p>
                            <p class="value">$14 / person</p>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Event URL</p>
                            <p class="value">
                                <a href="javascript:void();">www.fakeeventweb.com</a>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Hosted By</p>
                            <p class="value">Alex Dolgove</p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Going</p>
                            <p class="value like-cover">
                                <span class="material-icons going-icon">directions_run</span>
                                <a href="javascript:void();">124</a>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p class="label">Interested</p>
                            <p class="value like-cover">
                                <span class="material-icons heart-icon">favorite</span>
                                <a href="javascript:void();">568</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>