<div class="user-shoutouts-page">
    <div class="user-detail-content">
        <div class="detail-ui">
            <div class="row-1">
                <div class="right-portion">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="label">Title</p>
                            <p class="value">{{shoutoutsData?.title |titlecase}}</p>
                        </div>
                        <div class="col-md-3">
                            <p class="label">Privacy Type</p>
                            <p class="value">{{shoutoutsData?.privacy |titlecase }}</p>
                        </div>
                        <!-- <div class="col-md-4">
                            <p class="label">Greetings Type</p>
                            <p class="value">{{shoutoutsData?.title}}</p>
                        </div> -->
                        <div class="col-md-5">
                            <p class="label">GIF URL</p>
                            <a class="value" (click)="openGif(shoutoutsData?.gif)">{{shoutoutsData?.gif}}</a>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Send To</p>
                            <p class="value" *ngFor="let item of shoutoutsData?.memberData">{{item?.firstName || ''}}
                                {{item?.lastName || ''}}
                                <span class="email-wrapper"> <i class="icon far fa-envelope"></i> shubham.maheswari@appinventiv.com</span></p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">From</p>
                            <p class="value">{{shoutoutsData?.senderData?.firstName || ''}}
                                {{shoutoutsData?.senderData?.lastName || ''}}</p>
                        </div>
                        <!-- <div class="col-md-4">
                            <p class="label">Privacy</p>
                            <p class="value">{{shoutoutsData?.privacy | titlecase}}</p>
                        </div> -->

                        <div class="col-md-12">
                            <p class="label">Description</p>
                            <p class="value">{{shoutoutsData?.description}}</p>
                        </div>

                    </div>
                    <!-- <div class="btn-row">
                        <button class="btn btn-primary" mat-stroked-button>Unblock </button>
                        <button class="btn btn-delete" mat-stroked-button>Delete </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>