<div class="page-reset-password on-boarding-page">

  <mat-card>
    <div class="mat-card-header">
      <div class="logo-cover">
        <img src="../../../../../assets/images/logo-black.png" alt="Logo">
      </div>
      <mat-card-title>Reset Password</mat-card-title>
    </div>

    <div class="mat-card-body">
      <form [formGroup]="resetForm" (ngSubmit)="resetForm.valid&&resetPassword()">

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput required [type]="passwordHide ? 'password'  :  'text'" formControlName="password">
          <mat-icon matSuffix (click)="passwordHide= !passwordHide">
            {{passwordHide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
          <mat-error>
            {{getControl('password')|validate:'password'}}
          </mat-error>
        </mat-form-field>
        <app-invalid-password-hint [control]="getControl('password')"></app-invalid-password-hint>


        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput required [type]="confirmPasswordHide ? 'password' :'text'" formControlName="confirmPassword">
             <mat-icon matSuffix (click)="confirmPasswordHide= !confirmPasswordHide">
                    {{confirmPasswordHide ?'visibility_off' : 'visibility'}}
                </mat-icon>
            <mat-error>
                  {{getControl('confirmPassword')|validate:'confirm password'}}
          </mat-error>
        </mat-form-field>
        <app-invalid-password-hint [control]="getControl('confirmPassword')"></app-invalid-password-hint>

        <div class="link-cover">
					<a [routerLink]="'LOGIN'|absolutePath">Back to login</a>
				</div>
				<div class="btn-cover">
					<button type="submit"mat-stroked-button class="btn btn-primary">Submit</button>
				</div>

      </form>
    </div>
  </mat-card>

</div>