<div class="page-expert-post-detail common-detail-page-ui">
    <div class="expert-post-content">
        <div class="row-1">
            <div class="textual-detail d-block">
                <div class="card_header_container profile_header">
                    <div class="card_header">
                        <figure mat-card-avatar class="image-cover">
                            <img class="img-cover-fit"
                                [src]="(post?.expertData?.profilePicUrl[0] ) | customImage:'USERS'|async  " alt="">
                        </figure>
                        <div class="heading-cover">
                            <a class="user_name" href="javascript:void()">{{(post?.expertData?.name) | titlecase}}</a>
                            <!-- <p class="expertDataed-on-date">Scheduled On: {{expertData?.postedAt | dateTime}}</p> -->
                        </div>
                    </div>
                </div>
                <div>
                    <h1>{{post?.topic | titlecase}}</h1>
                    <p>
                        {{post?.description}}
                    </p>
                </div>
            </div>
            <div class="image-detail">
                <img [src]="post?.mediaUrl | customImage:'IMAGE_PLACEHOLDER'|async " *ngIf="post?.mediaType == 1">
                <video #myVideo muted [src]="post?.mediaUrl" *ngIf="post?.mediaType == 2" loop id="video" controls>Your
                    browser does not support the
                    video tag.</video>
            </div>
        </div>
        <div class="row-2">
            <div class="like-cover" (click)="likeHandler(post._id, post?.likeCount)"><span
                    class="material-icons">thumb_up</span>
                <p>{{post?.likeCount}}</p>
            </div>
            <div class="like-cover" [class.comment]="post?.commentCount > 0"><span class="material-icons">comment</span>
                <p>{{post?.commentCount}}</p>
            </div>
            <div class="like-cover" (click)="onReportProblem(post?._id, post?.reportCount)"><span
                    class="material-icons">report</span>
                <p>{{post?.reportCount}}</p>
            </div>

        </div>
        <div class="row-3">
            <app-comments-show [commentId]="post?._id"></app-comments-show>
        </div>
    </div>
</div>