<div class="page-slider slider-cover">
    
    <div class="slideshow-container">
        <ng-container *ngFor="let item of visibleImges">
            <div class="mySlides animate__animated animate__fadeInRight" >
                <img [src]="item | customImage:'USER'|async">
            </div>
        </ng-container>
    </div>

    <button class="prev" (click)="plusSlides(1)">&#10094;</button>
    <button class="next" (click)="plusSlides(1)">&#10095;</button>
    <mat-icon [mat-dialog-close]="false">close</mat-icon>

</div>