<div class="page-like-action popup-ui">
    <div class="popup-header">
        <h3>FAQ</h3>
        <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
    </div>
    <div class="popup-content">
        <div class="popup-body">
            <form [formGroup]="faqForm">
                <mat-form-field appearance="outline">
                    <mat-label for="question">Question</mat-label>
                    <textarea  formControlName="question" rows="3" matInput appWhiteSpace #question [maxlength]="questionFaqMaxLimit"></textarea>
                    <mat-hint>{{question.value.trim().length}}/{{questionFaqMaxLimit}}</mat-hint>
                    <mat-error>{{form('question') |validate:'Question' }}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label for="answer">Answer</mat-label>
                    <textarea  rows="3" matInput appWhiteSpace formControlName="answer" #answer [maxlength]="answerFaqMaxLimit"></textarea>
                    <mat-hint>{{answer.value.trim().length}}/{{answerFaqMaxLimit}}</mat-hint>
                    <mat-error>{{form('answer') |validate:'Answer' }}</mat-error>

                </mat-form-field>
            </form>
        </div>
        <div class="popup-footer">
            <button class="btn" mat-stroked-button [mat-dialog-close]="false">Cancel</button>
            <button class="btn btn-primary" mat-stroked-button (click)="onSaveHandler()">Save</button>
        </div>
    </div>
</div>