<app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)">
    <ng-template appFor="createdAt" let-expert="row">
        {{ expert?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="status" let-expert="row">
        {{ expert?.status | titlecase}}
    </ng-template>

    <ng-template appFor="privacy" let-expert="row">
        {{ expert?.privacy | titlecase}}
    </ng-template>


    <ng-template appFor="topic" let-expert="row">
         <a href="javascript:void(0)" (click)="onDetails(expert?._id)">
             {{ (expert?.topic | titlecase) || 'String'}}
         </a>
     </ng-template>

    <ng-template appFor="description" let-expert="row">
         {{ expert?.description || 'String'}}
    </ng-template>

    <ng-template appFor="likeCount" let-row="row">
         <a (click)="likeHandler(row._id, row?.likeCount)" [class.color-black]="row?.likeCount < 1">
             {{ row?.likeCount}}
         </a>
    </ng-template> 
 
    <ng-template appFor="commentCount" let-row="row">
         <a (click)="onCommentsHandler(row._id, row?.commentCount)" [class.color-black]="row?.commentCount < 1">
             {{ row?.commentCount}}
         </a>
    </ng-template>

     <ng-template appFor="categoryData" let-expert="row">
        <span *ngFor="let item of expert?.categoryData ; let i = index" title="{{ item?.name | titlecase}}">
            {{ item?.title | titlecase}}{{i< expert?.categoryData?.length -1?',' : '' }}
            

        </span>
    </ng-template>

    <ng-container>

        <ng-template appFor="actions" let-expert="row">
            <div class="action-icon-cover">
                <i class="material-icons icon-edit" (click)="oneditHandler(expert?._id)" title="Edit" >
                     edit
                 </i>

                <i class="material-icons icon-block" (click)="onActionHandler(expert._id, 'blocked')" *ngIf="expert?.status === 'active';else templateAction"  title="Block">
                     blocked</i>
                 <ng-template #templateAction>
                     <i class="material-icons icon-unblock" (click)="onActionHandler(expert._id, 'active')" title="Unblock" >
                         lock_open
                     </i>
                 </ng-template>
                <i class="material-icons icon-delete" (click)="onActionHandler(expert._id, 'deleted')"
                    title="Delete">
                    delete
                </i>
            </div>
        </ng-template>
    </ng-container>
</app-table>