<app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)">

    <ng-template appFor="createdAt" let-report="row">
            {{ report?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="reason" let-report="row">
       {{ (REPORT_MESSAGE[report?.reportOption]) || '-' }}
    </ng-template>

    <ng-template appFor="status" let-report="row">
        {{ report?.userData?.status | titlecase}}
    </ng-template>

    <ng-template appFor="message" let-report="row">
        <!-- {{ REPORT_MESSAGE[report?.reportOption] }} -->
        <a href="javascript:void(0)" title="{{(report?.reason | titlecase)}}" class="color-black" >
            {{ (report?.reason | titlecase) || '-'}} 
         </a>
    </ng-template>

    <ng-template appFor="profilePicUrl" let-report="row" >
        <div (click)="onImageClick(report?.userData?.profilePicUrl[0], 1)" class="table-cell-image-cover">
            <img [src]="(report?.userData?.profilePicUrl[0] )|customImage:'IMAGE_PLACEHOLDER'|async"  alt="category-image" title="Click to see the image">
        </div>
    </ng-template>

    <ng-template appFor="name" let-report="row">
        <a href="javascript:void(0)" (click)="onUserDetails(report?.userData?._id)">
        {{ (report?.userData?.firstName | titlecase) }}  {{ (report?.userData?.lastName | titlecase ) || ''}}
        </a>
    </ng-template>

    <ng-template appFor="email" let-report="row">
        {{ report?.userData?.email }}
    </ng-template>

    <ng-template appFor="description" let-report="row">
        <a href="javascript:void(0)" title="{{ (report?.description | titlecase)}}" (click)="onPostDetails(report?.forumsData?._id,report?.forumsData?.userType )">
            {{ (report?.forumsData?.description | titlecase)}}
        </a>    
    </ng-template>

</app-table>