<div class="page-add-category-management">
  <div class="add-category-mangement-content">
    <form [formGroup]="categoryForm">
      <div class="row-1">
        <!-- <div class="left-portion">
          <div class="img-cover">
            <img [src]="profilePicURL|customImage:'IMAGE_PLACEHOLDER'|async" alt="" style="width: 100%;">
            <div class="mat-icon-cover">
              <button type="button" class="camBtn" mat-mini-fab color="primary">
                <mat-icon>camera_alt</mat-icon>
                <input type="file" accept="image/x-png,image/jpeg" #file (change)="onSelectFile($event)"
                  matTooltip="Change Image" />
              </button>
            </div>
          </div>
        </div> -->
        <app-image-upload (uploadMedia)="setimageFile($event)" [profilePicURL]="profilePicURL"></app-image-upload>
        <div class="right-portion">
          <p>Enter the name of category you want to create.</p>
          <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input matInput formControlName="title" placeholder="Enter Category" [maxlength]="titleMaxLength"
              appWhiteSpace>
            <mat-error>{{title |validate:'Title'}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="btn-row">
      <button class="btn btn-simple" mat-stroked-button (click)="onCancel()" type="button">Cancel</button>
      <button class="btn btn-primary" mat-stroked-button type="button" (click)="onSubmit()">Confirm</button>
    </div>
  </div>
</div>