<div class="page-add-category-management popup-ui">
  <div class="popup-header">
    <h3>Add Category</h3>
    <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
  </div>
  <div class="popup-content">
    <div class="popup-body">
      <form [formGroup]="categoryForm">
        <div class="img-cover">
          <img [src]="profilePicURL|customImage:'IMAGE_PLACEHOLDER'|async" alt="">
          <div class="mat-icon-cover">
            <button type="button" class="camBtn" mat-mini-fab color="primary">
              <mat-icon>camera_alt</mat-icon>
              <input type="file" accept="image/x-png,image/jpeg" #file (change)="onSelectFile($event)"
                matTooltip="Change Image" />
            </button>
          </div>
        </div>
        <div class="profile-detail">
          <p>Category Name</p>
          <mat-form-field appearance="outline">
            <input matInput formControlName="title" placeholder="Enter Category" [maxlength]="titleMaxLength" appWhiteSpace>
            <mat-error>{{title |validate:'Title'}}</mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="popup-footer">
      <button class="btn" mat-stroked-button (click)="onCancel()" type="button"> Cancel </button>
      <button class="btn btn-primary" mat-stroked-button type="button" (click)="onSubmit()">Confirm </button>
    </div>
  </div>
</div>