<!-- <section class="dashboard_cards">
      <div class="row card_animation">
            <div class="col-md-4">
                  <div class="mat-card" matRipple>
                        <h3>Total User</h3>
                        <div class="el-value">{{data?.totalUsers}} </div>
                  </div>
            </div>

      </div>
</section> -->

<div class="counters-listing-cover">
      <ul class="counter-listing">
            <li class="single-counter">
                  <div class="textual-area">
                        <h4>{{data?.totalUsers}}</h4>
                        <p>Total Users</p>
                  </div>
                  <div class="img-cover">
                        <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
            </li>
            <li class="single-counter">
                  <div class="textual-area">
                        <h4>0</h4>
                        <p>Total Journals</p>
                  </div>
                  <div class="img-cover">
                        <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
            </li>
            <li class="single-counter">
                  <div class="textual-area">
                        <h4>0</h4>
                        <p>Total Posts</p>
                  </div>
                  <div class="img-cover">
                        <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
            </li>
            <li class="single-counter">
                  <div class="textual-area">
                        <h4>0</h4>
                        <p>Total Feeds</p>
                  </div>
                  <div class="img-cover">
                        <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
            </li>
            <li class="single-counter">
                  <div class="textual-area">
                        <h4>0</h4>
                        <p>Total Events</p>
                  </div>
                  <div class="img-cover">
                        <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
            </li>
      </ul>
</div>