@import 'abstracts/grid';
@import 'abstracts/variables';

.counter-listing {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    .single-counter {
        width: calc(100%/5 - 3%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17px 15px;
        box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);    
        color: white;
        border-radius: 5px;
        .textual-area{
            width: calc(100% - 55px);
            text-align: left;
            p{
                font-size: 12px;
                margin-bottom: 0px;
            }
        }
        .img-cover{
            width: 50px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            i{
                font-size: 45px;
                &.fa-user{
                    font-size: 40px;
                }
            }
        }
        &:nth-child(3n + 1){
            background-image: linear-gradient(to right, #f94b4a, #940054);
        }
        &:nth-child(3n + 2){
            background-image: linear-gradient(to right, #1887af, #062467);
        }
        &:nth-child(3n + 3){
            background: linear-gradient(to right, #ffa225, #e66d59);
        }
        &:hover{
            animation: gradient 2s ease infinite;
            background-size: 200% 200%;
        }
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }