@import 'abstracts/grid';
@import 'abstracts/variables';

.dashboard-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    user-select: none;
    @media screen and (max-width: 576px){
        flex-direction: column;
    }
    --animate-duration: 1.3s;
    .row{
        margin-bottom: 30px;
        .mat-card{
            padding: 24px;
            color: #333333;
            p{
                color: #6b6f82;
                line-height: 1.5;
            }
            .graph-cover{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
        &.section-1{
            .current-balance-card{
                .graph-cover{
                    position: relative;
                    padding: 3px 0px;
                    .content-on-balance-graph{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .current-balance-content{
                    text-align: center;
                    margin-top: 20px;
                }
            }
            .total-transaction-card{
                .graph-cover{
                    text-align: center;
                    padding: 00px 20px;
                    img{
                        width: 100%;    
                        height: 236px;
                    }
                }
            }
        }
        &.section-2{
            .user-statistics-card{
                .graph-cover{
                    padding: 16px 23px 0px;
                    img{
                        width: 100%;
                        height: 138px;
                    }
                }
                .incline-decline{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .incline-decline-content{
                        width: 50%;
                        padding: 0px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .icon-cover{
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 20px;
                            .material-icons{
                                font-size: 28px;
                                color: white;
                            }
                        }
                        p{
                            font-size: 14px;
                        }
                        h3{
                            font-size: 22px;
                        }
                        &.this-year{
                            .icon-cover{
                                background-color: $secondary;
                            }
                        }
                        &.last-year{
                            .icon-cover{
                                background-color: #aa01ff;
                            }
                        }
                    }
                }
            }
            .new-users-card{
                .users-listing {
                    padding: 0px;
                    margin: 0px;
    
                    .single-user {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        &:not(:first-child){
                            padding-top: 10px;
                        }
                        &:not(:last-child){
                            padding-bottom: 10px;
                        }
    
                        .img-cover {
                            width: 45px;
                            height: 45px;
                            overflow: hidden;
                            border-radius: 45px;
                            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
    
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
    
                        .textual-cover {
                            margin-left: 15px;
                            width: calc(100% - 60px);
                            display: block;
    
                            h6 {
                                margin-bottom: 3px;
                                font-size: 16px;
                                font-weight: bold;
                                text-transform: capitalize;
                                color: #6c7082;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
    
                            p {
                                margin: 0px;
                                font-size: 13px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
            .conversion-ratio-card{
                .graph-cover{
                    padding: 0px 9px 0px;
                    img{
                        width: 100%;
                        height: 154px;
                    }
                }
               .conversion-ratio-content{
                   text-align: center;
                   p{
                    font-size: 14px;
                }
                   h3{
                       font-size: 22px;
                   }
               } 
            }
        }
        &.section-3{
            min-height: 300px;
            .total-users-card{
                display: none;
                &.animate__bounceInLeft{
                    display: block;
                }
                .row-1, .row-2{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &:first-child{
                        margin-bottom: 20px;
                    }
                    .icon-cover{
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $secondary;
                        .material-icons{
                            font-size: 28px;
                            color: white;
                        }
                    }
                }
            }
            .todays-revenue-card{
                display: none;
                padding: 0px;
                .graph-cover{
                    text-align: center;
                    padding: 45px 20px;
                }
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                // background-image: url('../../../../../assets/graph4.png');
                &.animate__bounceInLeft{
                    display: block;
                }
            }
            .mod-list-card{
                padding-bottom: 0px;
                display: none;
                &.animate__bounceInRight{
                    display: block;
                }
                .table-cover{
                    margin: 0px -24px;
                    table{
                        width: 100%;
                        border-collapse: collapse;
                        th,td{
                            padding-top: 15px;
                            padding-bottom: 15px;
                            &:first-child{
                                padding-left: 24px;
                            }
                            &:last-child{
                                padding-right: 24px;
                                text-align: center;
                            }
                            &:not(:first-child){
                                padding-left: 10px;
                            }
                            &:not(:last-child){
                                padding-right: 10px;
                            }
                        }
                        thead{
                            tr{
                                th{
                                    font-weight: bold;
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    border-top: 1px solid #e0e0e0;
                                    padding-top: 12px;
                                    padding-bottom: 12px;
                                    &.status-cell{
                                        span{
                                            padding: 1px 5px;
                                            &.active{
                                                background-color: rgba($secondary, 0.15);
                                                color: $secondary;
                                            }
                                            &.in-active{
                                                background-color: rgba(green, 0.15);
                                                color: green;
                                            }
                                        }
                                    }
                                    &:last-child{
                                        .material-icons{
                                            color: $secondary;
                                            cursor: pointer;
                                        }
                                    }
                                    .img-cover{
                                        width: 40px;
                                        margin-left: 5px;
                                        height: 37px;
                                        border-radius: 3px;
                                        display: flex;
                                        background-color: #f7f7f7;
                                        cursor: pointer;
                                        align-items: center;
                                        justify-content: center;
                                        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 3px;
                                            object-fit: cover;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        
    }

}

.dashboard-footer{
    border-top: 1px solid #d2d2d2;
    padding: 20px 20px;
    background: #eaeaea;
    margin: 0px -20px -20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p{
        span{
            color: $secondary;
            font-weight: 700;
        }
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}

:host ::ng-deep{
    .mat-card{
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2) !important;
    }
    .current-balance-card{
        .balance-graph{
            width: 150px !important;
            height: 150px !important;
            svg{
                width: 150px !important;
                height: 150px !important;
                circle{
                    stroke-width: 5% !important;
                    stroke: $secondary !important;
                }
            }
        }
        .mat-progress-bar-buffer{
            background: #E4E8EB;
        }
    }
    body{
        overflow-x: hidden !important;
    }
}