<div class="page-dashboard">
      <div class="dashboard-content">
            <div class="counters-listing-cover">
                  <ul class="counter-listing">
                        <li class="single-counter">
                              <div class="textual-area">
                                    <h4>{{data?.totalUsers}}</h4>
                                    <p>Total Users</p>
                              </div>
                              <div class="img-cover">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                        </li>
                        <li class="single-counter">
                              <div class="textual-area">
                                    <h4>{{data?.newUser}}</h4>
                                    <p>New Users</p>
                              </div>
                              <div class="img-cover">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                        </li>
                        <li class="single-counter">
                              <div class="textual-area">
                                    <h4>0</h4>
                                    <p>Total Journals</p>
                              </div>
                              <div class="img-cover">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                        </li>
                        <li class="single-counter">
                              <div class="textual-area">
                                    <h4>0</h4>
                                    <p>Total Posts</p>
                              </div>
                              <div class="img-cover">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                        </li>
                        <li class="single-counter">
                              <div class="textual-area">
                                    <h4>0</h4>
                                    <p>Total Feeds</p>
                              </div>
                              <div class="img-cover">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                        </li>
                        <li class="single-counter">
                              <div class="textual-area">
                                    <h4>0</h4>
                                    <p>Total Events</p>
                              </div>
                              <div class="img-cover">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                              </div>
                        </li>
                  </ul>
            </div>
            <div class="mod-cover">
                  <div class="listings">
                        <div class="list-section-heading">
                              <span class="material-icons icon-left">chevron_left</span>
                              <h6>Member of the day</h6>
                              <span class="material-icons icon-right">chevron_right</span>
                        </div>
                        <div class="list-section-body">
                              <ul class="users-listing">
                                    <li class="single-user">
                                          <div class="img-cover">
                                                <img src="../../../../../assets/images/img_avatar3.png" alt="Profile">
                                          </div>
                                          <div class="textual-cover">
                                                <h6>Angel Markel</h6>
                                                <p>July 21, 2020</p>
                                          </div>
                                    </li>
                                    <li class="single-user">
                                          <div class="img-cover">
                                                <img src="../../../../../assets/default-image/user.jpg" alt="Profile">
                                          </div>
                                          <div class="textual-cover">
                                                <h6>Mother Terasa</h6>
                                                <p>July 20, 2020</p>
                                          </div>
                                    </li>
                                    <li class="single-user">
                                          <div class="img-cover">
                                                <img src="../../../../../assets/images/img_avatar3.png" alt="Profile">
                                          </div>
                                          <div class="textual-cover">
                                                <h6>Ellen DeGeneres</h6>
                                                <p>July 19, 2020</p>
                                          </div>
                                    </li>
                                    <li class="single-user">
                                          <div class="img-cover">
                                                <img src="../../../../../assets/default-image/user.jpg" alt="Profile">
                                          </div>
                                          <div class="textual-cover">
                                                <h6>Oprah Winfrey</h6>
                                                <p>July 18, 2020</p>
                                          </div>
                                    </li>
                                    <li class="single-user">
                                          <div class="img-cover">
                                                <img src="../../../../../assets/images/inspiration.jpg" alt="Profile">
                                          </div>
                                          <div class="textual-cover">
                                                <h6>Malala Yousafzai</h6>
                                                <p>July 17, 2020</p>
                                          </div>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
      </div>
</div>

