@import '../../../../../../../../sass/abstracts/variables';

:host{
    @import 'components/detail-ui';
}
.event-detail-page{
    padding: 15px;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.3);
    .paraText{
        text-align: justify;
    }
    .section-1{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: flex-start;
        .left-portion{
            width: calc(100% - 380px);
            padding-right: 30px;
            max-width: 900px;
            @media screen and (max-width: 1100px){
                margin-bottom: 20px;
                width: 100%;
                padding-right: 0;
            }
            .event-cover-photo{
                width: 100%;
                margin-bottom: 10px;
                img{
                    width: 100%;
                    max-height: 450px;
                    height: auto;
                    object-fit: cover;
                    box-shadow: 0px 0px 3px 1px rgba(0,0,0,.6);
                    @media screen and (max-width: 1100px){
                        max-height: 350px;
                    }
                }
            }
            .event-about{
                width: 100%;
                word-break: break-word;
                .event-title{
                    font-weight: bold;
                    margin: 10px 0px;
                    color: $black;
                }
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .right-portion{
            width: 380px;
            @media screen and (max-width: 1100px){
                width: 100%;
            }
            p{
                &.value{
                    margin-top: 3px;
                }
            }
            .event-info{
                width: 100%;
                position: sticky;
                position: -webkit-sticky;
                top: 0;
                @media screen and (max-width: 1100px){
                    position: static;
                }
                .like-cover{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .material-icons{
                        font-size: 20px;
                        margin-right: 5px;
                        &.going-icon{
                            color: #10c310;
                        }
                        &.heart-icon{
                            color: #f1268c;
                        }
                    }
                }
            }
            .btn-row{
                justify-content: flex-start;
            }
        }
    }
}