<div class="event-detail-page">
    <div class="event-detail-content">
        <div class="section-1">
            <div class="left-portion">
                <div class="event-cover-photo">

                    <img [src]="eventDetails?.imageUrl | customImage:'USERS'|async">
                </div>
                <div class="event-about">
                    <h4 class="event-title">{{eventDetails?.title}}</h4>
                    <p class="paraText">{{eventDetails?.description}}
                    </p>
                </div>
            </div>
            <div class="right-portion">
                <div class="event-info detail-ui">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="label">Event Date & Time</p>
                            <p class="value">{{eventDetails?.startDate | dateTime}}
                                {{eventDetails?.endDate ? '-'+(eventDetails?.endDate | dateTime) : '' }}
                                <!-- {{eventDetails?.endDate | date :'d MMMM, y, h:mm a'}} -->
                            </p>

                            <p class="value"></p>
                        </div>
                        <div class="col-md-12" *ngIf="eventDetails?.address">
                            <p class="label">Event Place</p>
                            <p class="value"> <i class="fas fa-map-marker-alt"></i>&nbsp; {{eventDetails?.address}}</p>
                        </div>
                        <div class="col-md-12" *ngIf="eventDetails?.price">
                            <p class="label">Event Price</p>
                            <p class="value">${{eventDetails?.price}}</p>
                        </div>
                        <div class="col-md-12" *ngIf="eventDetails?.eventUrl">
                            <p class="label">Event's More Details</p>
                            <p class="value">
                                <a (click)="openEventUrl(eventDetails?.eventUrl)" >
                                    {{eventDetails?.eventUrl}}
                                </a>
                            </p>
                        </div>
                        <div class="col-md-12" >
                                <p class="label">Hosted By</p>
                                <p class="value">{{eventDetails?.hostUser?.length ? (eventDetails?.hostUser?.firstName) + (eventDetails?.hostUser?.lastName) : 'Good heart Collaborative' }}</p>
                            </div>
                        <div class="col-md-4">
                            <p class="label">Going</p>
                            <p class="value like-cover" (click)="onGoingCount(eventDetails?.goingCount)">
                                <span class="material-icons going-icon">directions_run</span>
                                <a href="javascript:void();">{{eventDetails?.goingCount}}</a>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p class="label">Interested</p>
                            <p class="value like-cover" (click)="onInterestCount(eventDetails?.interestCount)">
                                <span class="material-icons heart-icon">favorite</span>
                                <a href="javascript:void();">{{eventDetails?.interestCount}}</a>
                            </p>
                        </div>
                        <div class="col-md-12" *ngIf=" eventDetails?.allowSharing">
                            <p class="label">Share Event</p>
                            <div class="value" (click)="onCopyHandler()">
                                <a class="link"> {{eventDetails?.shareUrl}}</a>
                                <br>
                            </div>
                            <span class="info">(Click to copy URL)</span>

                        </div>
                        <div class="col-md-12 btn-row">
                            <button class="btn btn-simple" mat-stroked-button type="button"
                                *ngIf="eventDetails?.status == 'active'"
                                (click)="onActionHandler(eventDetails?._id, 'blocked')"> Block </button>
                            <button class="btn btn-primary" mat-stroked-button type="button"
                                *ngIf="eventDetails?.status == 'blocked'"
                                (click)="onActionHandler(eventDetails?._id, 'active')">Active </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>