<div class="page-daily-inspiration-detail">
    <div class="daily-inspiration-content">
        <div class="mat-card">
            <div class="row-1">
                <div class="textual-detail">
                    <h1>{{dailyInspirationDetails?.title}}</h1>
                    <p>{{dailyInspirationDetails?.description}}</p>
                    <div>
                        <p class="posted-on-date">Posted on: {{dailyInspirationDetails?.postedAt | date : 'medium'}}</p>
                        <div class="like-cover" (click)="onlikeHandler(dailyInspirationDetails._id)"><span class="material-icons">thumb_up</span>
                            <p>{{dailyInspirationDetails?.likeCount}}</p>
                        </div>
                    </div>
                </div>
                <div class="image-detail">
                    <img [src]="dailyInspirationDetails?.mediaUrl | customImage:'USER'|async ">
                </div>
            </div>
        </div>
    </div>
</div>