<div class="page-daily-inspiration-detail common-detail-page-ui">
    <div class="daily-inspiration-content">
        <div class="row-1">
            <div class="textual-detail">
                <div class="card_header_container profile_header">
                    <div class="card_header">
                        <figure mat-card-avatar class="image-cover">
                            <img class="img-cover-fit" src="assets/images/img_avatar3.png" alt="">
                        </figure>
                        <div class="heading-cover">
                            <a class="user_name" href="javascript:void()">User name</a>
                            <p class="posted-on-date">Posted on: {{dailyInspirationDetails?.createdAt | date : 'medium'}}</p>
                        </div>
                    </div>
                    <h1>{{dailyInspirationDetails?.title | titlecase}}</h1>
                    <p>{{dailyInspirationDetails?.description}}</p>
                </div>
                <!-- <div>
                    <p class="posted-on-date">Posted on: {{dailyInspirationDetails?.createdAt | date : 'medium'}}</p>
                    <div class="like-cover" (click)="onlikeHandler(dailyInspirationDetails._id, dailyInspirationDetails?.likeCount)"><span class="material-icons">thumb_up</span>
                        <p>{{dailyInspirationDetails?.likeCount}}</p>
                    </div>
                </div> -->
            </div>
            <div class="image-detail">
                <img [src]="dailyInspirationDetails?.mediaUrl | customImage:'IMAGE_PLACEHOLDER'|async " *ngIf="dailyInspirationDetails?.mediaType == 1">
                <video #myVideo muted [src]="dailyInspirationDetails?.mediaUrl" *ngIf="dailyInspirationDetails?.mediaType == 2" loop id="video"  controls
                >Your browser does not support the
                  video tag.</video>
            </div>
        </div>
        <div class="row-2">
            <div class="like-cover"
                (click)="onlikeHandler(dailyInspirationDetails._id, dailyInspirationDetails?.likeCount)"><span
                    class="material-icons">thumb_up</span>
                <p>{{dailyInspirationDetails?.likeCount}}</p>
            </div>
        </div>
        <div class="row-3">
            <ul class="users-listing">
                <li class="single-user" *ngFor="let item of [1,2,3,4,5]">
                    <div class="li-content">
                        <div class="img-cover">
                            <img src="assets/images/img_avatar3.png" alt="Profile">
                        </div>
                        <div class="textual-cover">
                            <h4>User name
                                <p class="comment-time">3 days ago</p>
                            </h4>
                            <p class="comment">
                                Material is an adaptable system of guidelines, components, and tools that
                                support the
                                best practices of user interface design. Backed by open-source code.
                            </p>
                            <div class="like-cover">
                                <span class="material-icons">thumb_up</span>
                                <p>2</p>
                                <a class="see-hide-replies">See
                                    Replies (2)</a>
                            </div>
                        </div>
                        <!-- (click)="onNestedComment()" -->
                    </div>
                    <ul class="comment-listing">
                        <li class="single-comment">
                            <div class="li-content">
                                <div class="img-cover">
                                    <img src="assets/images/img_avatar3.png" alt="Profile">
                                </div>
                                <div class="textual-cover">
                                    <h4>User name
                                        <p class="comment-time">3 days ago</p>
                                    </h4>
                                    <p>
                                        Material is an adaptable system of guidelines, components, and tools that
                                        support the
                                        best practices of user interface design. Backed by open-source code.
                                    </p>
                                    <div class="like-cover"><span class="material-icons">thumb_up</span>
                                        <p>
                                            3
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>