<div class="page-user-detail-page">
    <div class="user-detail-content">
        <div class="detail-ui">
            <div class="row-1">
                <div class="left-portion">
                    <div class="img-cover" (click)="onImageClick(userDetails?.profilePicUrl[0])">
                        <img [src]="userDetails?.profilePicUrl[0]|customImage:'USER'|async" alt="User Profile Image">
                        <div class="img-overlay">+2</div>
                    </div>
                    <div class="btn-row">
                        <button class="btn btn-block" mat-stroked-button (click)="onBlockUSer()"
                            [class.btn-green]="userDetails?.status != 'active' ">
                            {{userDetails?.status === 'active' ? 'Block' : 'Unblock'}} User </button>
                        <button class="btn btn-primary btn-delete" mat-stroked-button (click)="onBlockUSer(true)">Delete
                            User</button>

                    </div>
                    <div class="btn-row">
                        <button class="btn btn-primary btn-delete" mat-stroked-button
                            *ngIf="(userDetails?.adminStatus == 'verified')"
                            (click)="onverifyHandler(userDetails?._id, 'rejected')">Reject User</button>
                        <button class="btn btn-primary" mat-stroked-button
                            *ngIf="(userDetails?.adminStatus == 'rejected' ) || (userDetails?.adminStatus == 'pending')"
                            (click)="onverifyHandler(userDetails?._id, 'verified')">Verify User</button>
                    </div>
                </div>
                <div class="right-portion">
                    <div class="row">

                        <div class="col-md-4">
                            <p class="label">User Name</p>
                            <p class="value">{{userDetails?.firstName}} {{userDetails?.lastName}}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Email</p>
                            <p class="value phone-value">{{userDetails?.email}} <span
                                    class="material-icons verified-icon"
                                    *ngIf="userDetails?.isEmailVerified">verified_user</span></p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Phone</p>
                            <p class="value phone-value">
                                +{{userDetails?.countryCode}} {{userDetails?.mobileNo}} <span
                                    class="material-icons verified-icon"
                                    *ngIf="userDetails?.isMobileVerified">verified_user</span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Date of Birth</p>
                            <p class="value">{{(userDetails?.dob) || 'None'}} </p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Status</p>
                            <p class="value">{{userDetails?.status | titlecase}} </p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Profession</p>
                            <p class="value">{{userDetails?.profession || 'None'}}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Experience</p>
                            <p class="value">{{userDetails?.experience || 'None'}}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Industry</p>
                            <p class="value">{{userDetails?.industryType || 'None'}}</p>
                        </div>
                        <div class="col-md-4">
                            <p class="label">Membership Type</p>
                            <p class="value">{{userDetails?.membershipType || 'None'}}</p>
                        </div>
                        <div class="col-md-12">
                            <p class="label">Bio</p>
                            <p class="value">{{userDetails?.about || 'None'}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>