@import 'components/detail-ui';

.btn-row{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        &:not(:last-child){
            margin-right: 15px;
        }
    }
}