<div class="page-user-detail-page">
    <div class="user-detail-content">
        <div class="row">
            <div class="col-md-4">
                <h5>User Id</h5>
                <!-- <h2>{{data.}}</h2> -->
            </div>
            <div class="col-md-4">
                <h5>User Name</h5>
                <h2>{{data?.firstName}} {{data?.lastName}}</h2>
            </div>
            <div class="col-md-4">
                <h5>Email</h5>
                <h2>{{data?.email}}</h2>
            </div>
            <div class="col-md-4">
                <h5>Phone</h5>
                <h2>{{data?.mobileNo}}</h2>
            </div>
            <div class="col-md-4">
                <h5>Date of Birth</h5>
                <h2>{{data?.lastName}}</h2>
            </div>
            <div class="col-md-4">
                <h5>Profession</h5>
                <h2>{{data?.lastName}}</h2>
            </div>
            <div class="col-md-4">
                <h5>Industry</h5>
                <h2>{{data?.lastName}}</h2>
            </div>
            <div class="col-md-4">
                <h5>Membership Type</h5>
                <h2>{{data?.lastName}}</h2>
            </div>
            <div class="col-md-6">
                <h5>Bio</h5>
                <h2>Women community app is world's best app.</h2>
            </div>
        </div>
    </div>
</div>