<div class="page-article-management-details">
    <div class="article-management-details-content">
        <div class="row-1">
            <div class="textual-detail">
                <h1>{{articleDetails.title}}.</h1>
                <p>{{articleDetails.description}}
                </p>
            </div>
            <div class="image-detail">
                <img [src]="articleDetails?.imageUrl|customImage:'USER'|async" alt=" Profile Image" (click)="onImageClick(articleDetails?.imageUrl)">

            </div>
        </div>
    </div>
</div>