<div class="page-article-management-details">
    <div class="article-management-details-content">
        <div class="row-1">
            <div class="textual-detail">
                <h1>This is the title of my Article.</h1>
                <p>Description of the title odf aygsd fyuags ufygas fygas ufygsuydfgs yudfgsuyfg suygf
                    Description of the title odf aygsd fyuags ufygas fygas ufygsuydfgs yudfgsuyfg suygf
                    Description of the title odf aygsd fyuags ufygas fygas ufygsuydfgs yudfgsuyfg suygf
                    Description of the title odf aygsd fyuags ufygas fygas ufygsuydfgs yudfgsuyfg suygf
                    Description of the title odf aygsd fyuags ufygas fygas ufygsuydfgs yudfgsuyfg suygf
                </p>
            </div>
            <div class="image-detail">
                <img src="../../../../../../../assets/default-image/default.png">
            </div>
        </div>
    </div>
</div>