<div class="page-daily-advice-details common-detail-page-ui">
    <div class="daily-advice-details-content">
        <div class="row-1">
            <div class="textual-detail">
                <div class="card_header_container profile_header">
                    <div class="card_header">
                        <figure mat-card-avatar class="image-cover">
                            <img class="img-cover-fit" [src]="adviceDetails?.addedBy?.profilePicture | customImage:'USERS'|async "  alt="">
                        </figure>
                        <div class="heading-cover">
                            <a class="user_name" href="javascript:void()">{{adviceDetails?.addedBy?.name}}</a>
                            <p class="posted-on-date" *ngIf="adviceDetails?.postedAt">Posted on:
                                {{adviceDetails?.postedAt | date : 'd MMMM, y, h:mm a'}}</p>
                        </div>
                    </div>
                    <h1>{{adviceDetails?.title | titlecase}}</h1>
                    <p>{{adviceDetails?.description}}</p>
                </div>
            </div>
            <div class="image-detail">
                <img [src]="adviceDetails?.mediaUrl | customImage:'IMAGE_PLACEHOLDER'|async " *ngIf="adviceDetails?.mediaType == 1">
                <video #myVideo muted [src]="adviceDetails?.mediaUrl" *ngIf="adviceDetails?.mediaType == 2" loop id="video"  controls
                >Your browser does not support the
                  video tag.</video>
            </div>
        </div>
        <div class="row-2">
            <div class="like-cover" (click)="likeHandler(adviceDetails.id, adviceDetails?.likeCount)"><span
                    class="material-icons">thumb_up</span>
                <p>{{adviceDetails?.likeCount}}</p>
            </div>
            <div class="like-cover"><span class="material-icons">comment</span>
                <p>{{adviceDetails?.commentCount}}</p>
            </div>
        </div>
        <app-comments-show [commentId]="adviceDetails?.id"></app-comments-show>
       
    </div>
</div>