<div class="page-daily-advice-details common-detail-page-ui">
    <div class="daily-advice-details-content">
        <div class="row-1">
            <div class="textual-detail">
                <div class="card_header_container profile_header">
                    <div class="card_header">
                        <figure mat-card-avatar class="image-cover">
                            <img class="img-cover-fit"
                                [src]="(adviceDetails?.adminData[0]?.profilePicture ? adviceDetails?.adminData[0]?.profilePicture : adviceDetails?.addedBy?.profilePicture ) | customImage:'USERS'|async "
                                alt="">
                        </figure>
                        <div class="heading-cover">
                            <a class="user_name"
                                href="javascript:void()">{{(adviceDetails?.adminData[0]?.name ? adviceDetails?.adminData[0]?.name : adviceDetails?.addedBy?.name) | titlecase }}</a>
                            <p class="posted-on-date" *ngIf="adviceDetails?.postedAt">Scheduled On:
                                {{adviceDetails?.postedAt |dateTime}}</p>
                        </div>
                    </div>
                    <h1>{{adviceDetails?.title | titlecase}}</h1>
                    <p>{{adviceDetails?.description | titlecase}}</p>
                </div>
            </div>
            <div class="image-detail" *ngIf="adviceDetails?.mediaUrl">
                <img [src]="adviceDetails?.mediaUrl | customImage:'IMAGE_PLACEHOLDER'|async "
                    *ngIf="adviceDetails?.mediaType == 1">
                <video #myVideo muted [src]="adviceDetails?.mediaUrl" *ngIf="adviceDetails?.mediaType == 2" loop
                    id="video" controls>Your browser does not support the
                    video tag.</video>
            </div>
        </div>
        <div class="row-2">
            <div class="like-cover" (click)="likeHandler(adviceDetails._id, adviceDetails?.likeCount)"><span
                    class="material-icons">thumb_up</span>
                <p>{{adviceDetails?.likeCount}}</p>
            </div>
            <div class="like-cover" [class.comment]="adviceDetails?.commentCount > 0" (click)="onCommentsHandler(adviceDetails?._id, adviceDetails?.commentCount)"><span
                    class="material-icons">comment</span>
                <p>{{adviceDetails?.commentCount}}</p>
            </div>
            <!-- <div class="like-cover" (click)="onReportProblem(adviceDetails?._id, adviceDetails?.reportCount)"><span class="material-icons">report</span>
                <p>Report</p>
            </div> -->
        </div>
        <!-- <app-comments-show [commentId]="adviceDetails?._id"></app-comments-show> -->

    </div>
</div>