<app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)" (onAddCahnges)="onAdd()">
    <ng-template appFor="createdAt" let-forum="row">
        {{ forum?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="status" let-forum="row">
        {{ forum?.status | titlecase}}
    </ng-template>

    <ng-template appFor="userType" let-forum="row">
        {{ forum?.userType | titlecase}}
    </ng-template>


    <ng-template appFor="topic" let-forum="row">
        <a href="javascript:void(0)" (click)="onDetails(forum?._id, forum)"
            title="{{ (forum?.topic | titlecase) || 'String'}}">
            {{ (forum?.topic | titlecase) || 'String'}}
        </a>
    </ng-template>


    <ng-container>

        <ng-template appFor="actions" let-forum="row">
            <div class="action-icon-cover">
                <i class="material-icons icon-edit" (click)="oneditHandler(forum?._id)" title="Edit">
                    edit
                </i>

                <i class="material-icons icon-block" (click)="onActionHandler(forum._id, 'blocked')"
                    *ngIf="forum?.status === 'active';else templateAction" title="Block ">
                    blocked</i>
                <ng-template #templateAction>
                    <i class="material-icons icon-unblock" (click)="onActionHandler(forum._id, 'active')"
                        title="Unblock">
                        lock_open
                    </i>
                </ng-template>
                <i class="material-icons icon-delete" (click)="onActionHandler(forum._id, 'deleted')"
                    title="Delete ">
                    delete
                </i>
            </div>
        </ng-template>
    </ng-container>
</app-table>