@import 'abstracts/mixins';

.page-sidebar {
	box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.1);
	width: 220px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	transition: .3s;
	z-index: 999;
	background-color: $primary;
	// background-image: linear-gradient(315deg, #b58ecc 0%, #419ebb 63%);
	user-select: none;
	@media screen and (max-width: 992px){
		left: 0px;
	}
	.profile-view-cover{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 0px;
		box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.4);
		.close-sidebar-icon{
			position: absolute;
			left: 10px;
			color: white;
			top: 20px;
			font-size: 25px;
			cursor: pointer;
			display: none;
			@media screen and (max-width: 992px){
				display: block;
			}
		}
		.img-cover{
			width: 110px;
			height: 80px;
			img{
				width: 100%;
			}
		}
	}
	.sidebar-list {
		width: 100%;
		min-height: calc(100% - 120px);
		z-index: 1;
		padding: 20px 12px;
		transition: 0.3s ease width;
		padding-top: 20px;
		max-height: calc(100vh - 120px);
		@include custom-scroller('y');
		.admin {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 15px;

			.adminLogo {
				font-size: 70px;
				width: 100%;
				height: 100%;
			}
		}

		.mat-list-item {
			position: relative;
			cursor: pointer;
			outline: none;
			transition: 0.3s ease all;
			white-space: nowrap;
			border-radius: 5px;
			color: white;
			font-size: 14px;
			@media screen and (max-width: 1600px) {
				height: 40px;
			}
			
			&.active {
				background-color: white;
				// color: #ff4da6;
				color: black;
				.mat-icon {
					color: black;
					// color: #ff4da6;
				}
			}

			.mat-icon {
				width: 40px;
				height: 40px;
				min-width: 40px;
				vertical-align: middle;
				text-align: center;
				border-radius: 50%;
				line-height: 1.7;
				margin-right: 10px;
				transition: 0.3s ease all;
				color: white;
				@media screen and (max-width: 1600px) {
					width: 35px;
					height: 35px;
					min-width: 35px;
					vertical-align: middle;
					text-align: center;
					border-radius: 50%;
					margin-right: 7px;
					line-height: 35px;
					font-size: 20px;
				}

				&.spinner-cover {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				&.user-icon{
					font-size: 25px;
				}
				&.bulb-icon{
					font-size: 23px;
				}
				&.medal-icon{
					font-size: 25px;
				}
				&.brain-icon{
					font-size: 24px;
				}
			}

			span {
				font-size: 14px;
				transition: 0.3s ease all;

				@media screen and (max-width: 1600px) {
					font-size: 13px;
				}
			}
		}
	}
}

:host ::ng-deep {
	.mat-list-item-content{
		padding: 0px 12px 0px 5px !important;
	}
	.mat-tooltip {
		display: none;
	}

}

.sidebar-list{
	&::-webkit-scrollbar-thumb{
		background: white !important;
	}
	&::-webkit-scrollbar-track{
		background: transparent !important;
	}
}