<div class="page-sidebar">
  <div class="profile-view-cover">
    <span class="material-icons close-sidebar-icon" (click)="sidebarCollaped()">arrow_back</span>
    <div class="img-cover">
      <img src="../../../../../assets/images/logo-white.png" alt="">
    </div>
  </div>

  
  <mat-list class="sidebar-list">

    <mat-list-item color="primary" [routerLink]="['DASHBOARD' | absolutePath]" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon> Dashboard
    </mat-list-item>

    <mat-list-item color="primary"  [routerLink]="['USER' | absolutePath]" routerLinkActive="active">
      <mat-icon>person</mat-icon> Users
    </mat-list-item>

    <mat-list-item color="primary" [routerLink]="['CATEGORY' | absolutePath]" routerLinkActive="active">
      <mat-icon>category</mat-icon> Category
    </mat-list-item>

    <mat-list-item color="primary" [queryParams]="{ tab: '0'}" [routerLink]="['CONTENT_MANAGEMENT' | absolutePath]" routerLinkActive="active">
      <mat-icon>description</mat-icon> Content
    </mat-list-item>

    <mat-list-item color="primary" [routerLink]="['DAILY_INSPIRATION' | absolutePath]" routerLinkActive="active">
      <mat-icon>emoji_objects</mat-icon> Daily Inspiration
    </mat-list-item>

    <mat-list-item color="primary" [routerLink]="['MEMBER_OF_THE_DAY' | absolutePath]" routerLinkActive="active">
      <mat-icon>military_tech</mat-icon> Member of the Day
    </mat-list-item>

    <mat-list-item color="primary" [routerLink]="['DAILY_UNICORN' | absolutePath]" routerLinkActive="active">
      <mat-icon>psychology</mat-icon> Unicorn Humour
    </mat-list-item>

    <mat-list-item color="primary" [routerLink]="['DAILY_ADVICE' | absolutePath]" routerLinkActive="active">
      <mat-icon>assistant</mat-icon> Advice Management
    </mat-list-item>

    <mat-list-item color="primary" >
      <mat-icon>view_headline</mat-icon> Feed
    </mat-list-item>

    <mat-list-item color="primary" [routerLink]="['ARTICLES' | absolutePath]" routerLinkActive="active">
      <mat-icon>view_headline</mat-icon> Article Management
    </mat-list-item>

    <mat-list-item color="primary">
      <mat-icon>emoji_events</mat-icon> Events
    </mat-list-item>
    
  </mat-list>
<mat-nav-list>