<div class="page-sidebar">
  <div class="profile-view-cover">
    <div class="img-cover">
      <img src="../../../../../assets/images/logo-white.png" alt="">
    </div>
  </div>


  <mat-list class="sidebar-list">
    <mat-list-item color="primary" [routerLink]="['DASHBOARD' | absolutePath]" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon> Dashboard
    </mat-list-item>
    <mat-list-item color="primary" [routerLink]="['USER' | absolutePath]" routerLinkActive="active">
      <mat-icon>person</mat-icon> Users
    </mat-list-item>
  </mat-list>
<mat-nav-list>