@import 'var';
.account_wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    .left_banner {
        flex-basis: 40%;
        max-width: 40%;
        background-color: #f5fbff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .right_form {
        flex-basis: 60%;
        max-width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.form_wrap {
    max-width: 400px;
}
.banner_wrap {
    position: relative;
    z-index: 2;
    padding:0 50px;
}

.logo_blk {
    // background-color: #ffffff;
    border-radius: 3px;
    img {
        max-width: 160px;
        display: flex;
    }
}

.textInfo {
    margin-top: 40px;
    color: #fff;
    .mat-h1 {
        color:#3d82ab;
        font-weight: 600;
    }
    p {
        font-size: 18px;
        &::before {
            content: '';
            position: relative;
            background: url(/assets/default-image/check.svg) center/20px no-repeat;
            width: 22px;
            height: 22px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}