.on-boarding-page{
	mat-card {
		width: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
		@media screen and (max-width: 1500px){
			width: 350px;
		}
		@media screen and (max-width: 440px){
			width: 90%;
		}
		.mat-card-header{
			display: block;
			.logo-cover {
				position: relative;
				width: 120px;
				height: 120px;
				border-radius: 50%;
				// background: #f7f7f7;
				margin: auto;
				margin-bottom: 30px;
				// box-shadow: 0px 2px 9px 0px rgba(46, 61, 73, 0.3);
				@media screen and (max-width: 1500px){
					width: 100px;
					height: 100px;
				}
				img {
					// width: 70px;
                    width: 100%;
                    position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					@media screen and (max-width: 1500px){
						// width: 55px;
                        width: 100%;
                    }
				}
			}
			.mat-card-title{
				margin-bottom: 4px;
				@media screen and (max-width: 1500px){
					font-size: 18px;
				}
				@media screen and (max-width: 1280px){
					font-size: 16px;
				}
			}
		}
		.mat-card-body{
			.mat-form-field{
				width: 100%;
				.mat-icon{
					cursor: pointer;
				}
			}
			.link-cover{
				text-align: right;
				margin-top: -10px;
				a{
					font-size: 12px;
				}
				.mat-checkbox{
					margin-bottom: 0px;
					.mat-checkbox-label{
						font-size: 14px;
					}
				}
			}
			.btn-cover{
				padding-top: 10px;
			}
		}
	}
}



:host ::ng-deep{
	.mat-form-field-suffix{
		top: 8px !important;
	}
	.mat-form-field{
		height: 85px;
		margin-bottom: 5px !important;
	}
}