<div class="page-gratitude-journal-detail common-detail-page-ui">
    <div class="gratitude-journal-content">
        <div class="row-1">
            <div class="textual-detail">
                <p>{{gratitudeDetails?.description}}</p>
                <p>Posted on: {{gratitudeDetails?.postAt}}</p>
            </div>
            <div class="image-detail">
                <img [src]="gratitudeDetails?.mediaUrl |customImage:'USER'|async">
            </div>
        </div>
        <div class="row-2">
            <div class="like-cover" (click)="likeHandler(gratitudeDetails?.id ,gratitudeDetails?.likeCount)"><span class="material-icons">thumb_up</span>
                <p>{{gratitudeDetails?.likeCount}}</p>
            </div>
            <div class="like-cover"><span class="material-icons">comment</span>
                <p>{{gratitudeDetails?.commentCount}}</p>
            </div>
        </div>
        <div class="row-3">
            <app-comments-show [commentId]="gratitudeDetails?.id"></app-comments-show>

        </div>
    </div>
</div>