.page-gratitude-journal-detail{
    .row-1{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        .height-fix{
            height: 100% !important;
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            img{
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                box-shadow: 0px 0px 3px 1px rgba(0,0,0,.6);
            }
        }
        .textual-detail{
            width: 65%;
            word-break: break-word;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                &:first-child{
                    margin-bottom: 20px;
                    font-size: 14px;
                }
            }
        }
        .image-detail{
            width: 30%;
        }
    }
    .row-2{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 15px;
        margin: 20px -16px;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        .like-cover{
            display: flex;
            align-items: center;
            margin-right: 40px;
            .material-icons{
                color: #556080;
                margin-right: 10px;
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    .row-3{
        .users-listing{
            padding: 0px;
            margin: 0px;
            .single-user{
                .li-content{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 5px 0px;
                    .img-cover{
                        width: 35px;
                        height: 35px;
                        overflow: hidden;
                        border-radius: 35px;
                        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .textual-cover{
                        padding-left: 10px;
                        width: calc(100% - 35px);
                        display: block;
                        h4{
                            margin: 0px;
                            font-size: 14px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 100%;
                            position: relative;
                            padding-right: 100px;
                            .more-icon{
                                position: absolute;
                                right: 0px;
                                top: 2px;
                                cursor: pointer;
                            }
                            p{
                                &.comment-time{
                                    position: absolute;
                                    right: 0px;
                                    top: 2px;
                                    font-size: 10px;
                                }
                            }
                        }
                        p{
                            margin: 0px;
                            font-size: 12px;
                            color: #868686;
                            word-break: break-all;
                            &.comment-time{
                                font-size: 10px;
                            }
                        }
                        .like-cover{
                            display: flex;
                            align-items: center;
                            .material-icons{
                                color: #556080;
                                margin-right: 10px;
                                font-size: 16px;
                            }
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .comment-listing{
                    width: 100%;
                    padding: 3px 0px 3px 45px;
                    .single-comment{
                        .li-content{
                            padding: 3px 0px;
                            width: 100%;
                            .img-cover{
                                width: 25px;
                                height: 25px;
                            }
                            .textual-cover{
                                padding-left: 10px;
                                width: calc(100% - 25px);
                                p{
                                    word-break: break-all;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}