<div class="page-gratitude-journal-detail common-detail-page-ui">
    <div class="gratitude-journal-content">
        <div class="row-1">
            <div class="textual-detail">
                <div class="card_header_container profile_header">
                    <div class="card_header">
                        <figure mat-card-avatar class="image-cover"
                            *ngIf="gratitudeDetails?.userData?.profilePicUrl[0]">
                            <img class="img-cover-fit"
                                [src]="gratitudeDetails?.userData?.profilePicUrl[0] | customImage:'USERS'|async "
                                alt="">
                        </figure>
                        <div class="heading-cover">
                            <a class="user_name" href="javascript:void()">{{gratitudeDetails?.userData?.firstName}}
                                {{gratitudeDetails?.userData?.lastName || ''}}</a>
                            <p class="posted-on-date">Created On: {{gratitudeDetails?.createdAt | dateTime}}</p>
                        </div>
                    </div>
                    <p>{{gratitudeDetails?.description | titlecase}}</p>
                </div>
            </div>
            <div class="image-detail" *ngIf="gratitudeDetails?.mediaUrl">
                <img [src]="gratitudeDetails?.mediaUrl |customImage:'USER'|async">
            </div>
        </div>
        <div class="row-2">
            <div class="like-cover" (click)="likeHandler(gratitudeDetails?._id ,gratitudeDetails?.likeCount)"><span
                    class="material-icons">thumb_up</span>
                <p>{{gratitudeDetails?.likeCount}}</p>
            </div>
            <div class="like-cover" [class.comment]="gratitudeDetails?.commentCount"><span
                    class="material-icons">comment</span>
                <p>{{gratitudeDetails?.commentCount}}</p>
            </div>
        </div>
        <div class="row-3">
            <app-comments-show [commentId]="gratitudeDetails?._id"></app-comments-show>

        </div>
    </div>
</div>