<!-- <div class="col-sm-6" *ngIf="!linkExpired">
    <h1> 404 </h1>
    <h3> Page not Found </h3>
    <h4> Oops, We can't seem to find the page you're looking for.... </h4>
    <button class="back_btn" routerLink="/admin/dashboard">Back to Home</button>
  </div>

  <div class="col-sm-6" *ngIf="linkExpired">
    <h3> Link Expired </h3>
    <button class="back_btn" (click)="onBackLogin()">Back to Login</button>
  </div> -->

<div class="not-found-wrapper">
  <div class="page-heading">
    <h1>404</h1>
    <h2>How did you get here?</h2>
    <p>Sorry, your login link has expired because you haven't used it. <br /> Login link expires in every 10 minutes and can only be used once. </p>
  </div>
  <div class="btn-wrap">
    <button class="btn btn-primary" mat-stroked-button routerLinkActive="router-link-active">Back to login</button>
  </div>
</div>