<div class="page-header">
	<mat-toolbar class="header">
		<mat-toolbar-row>
			<div class="left-portion">
				<span mat-button class="material-icons hamburger-icon" (click)="sidebarCollaped()">menu</span>
				<div class="logo-cover">
					<img src="../../../../../assets/images/logo-white.png" alt="Logo">
				</div>
			</div>

			<div class="btn_group">

				<button mat-icon-button><mat-icon>notifications</mat-icon></button>
				<div class="user-img-cover" [matMenuTriggerFor]="menu">
					<img src="../../../../../assets/default-image/user.jpg" alt="">
				</div>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button class="drop-menu" mat-menu-item (click)="openAdminProfileTab()"> <mat-icon>person</mat-icon> My Profile </button>
                    <button class="drop-menu" mat-menu-item (click)="openCahngePasswordTab()"> <mat-icon>lock</mat-icon> Change Password </button>
                    <button class="drop-menu" mat-menu-item (click)="logout()" > <mat-icon>power_settings_new</mat-icon> Logout </button>
                </mat-menu>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>
</div>