<!-- <button class="btn btn-primary btn-add-row" mat-stroked-button (click)="onAddrow()">Add row</button> -->

<app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)" (onAddCahnges)="onAdd()">
    <ng-template appFor="createdAt" let-row="row">
        {{ row?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="status" let-row="row">
        {{ row?.status | titlecase}}
    </ng-template>

    <!-- <ng-template appFor="description" let-row="row">
        {{ row?.description | titlecase}}
    </ng-template> -->

    <ng-template appFor="title" let-row="row">
        <a href="javascript:void(0)" (click)="onDetailsHandler(row?._id)" title="{{ row?.title | titlecase}}">
            {{ row?.title | titlecase}}
        </a>
    </ng-template>

    <ng-template appFor="mediaUrl" let-row="row">
        <div class="table-cell-image-cover" title="Click to see the image">
            <img [src]="row?.mediaUrl |customImage:'USER'|async" alt="row-image"
                (click)="onImageClick(row?.mediaUrl, row?.mediaType)">
        </div>
    </ng-template>
    
    <ng-template appFor="likeCount" let-row="row">
        <a (click)="onlikeHandler(row._id, row?.likeCount)" [class.color-black]="row?.likeCount < 1">
            {{ row?.likeCount}}
        </a>
    </ng-template>

    <ng-template appFor="commentCount" let-row="row">
        <a (click)="onCommentsHandler(row._id, row?.commentCount)" [class.color-black]="row?.commentCount < 1">
            {{ row?.commentCount}}
        </a>
    </ng-template>

    <ng-container>

        <ng-template appFor="actions" let-user="row">
            <div class="action-icon-cover">
                <i class="material-icons icon-edit" (click)="oneditHandler(user?._id)" title="Edit">
                    edit
                </i>

                <i class="material-icons icon-block" (click)="onActionHandler(user._id, 'blocked')"
                    *ngIf="user?.status === 'active';else templateAction" title="Block user">
                    blocked</i>
                <ng-template #templateAction>
                    <i class="material-icons icon-unblock" (click)="onActionHandler(user._id, 'active')"
                        title="Unblock user">
                        lock_open
                    </i>
                </ng-template>
                <i class="material-icons icon-delete" (click)="onActionHandler(user._id, 'deleted')"
                    title="Delete user">
                    delete
                </i>
            </div>
        </ng-template>
    </ng-container>
</app-table>