
<!-- <button class="btn btn-primary btn-add-category" mat-stroked-button (click)="onAddCategory()">Add Category</button> -->

<app-table [tableSource]="tableSource"  (optionChange)="onOptionChange($event)" (onAddCahnges)="onAdd()">
   <ng-template appFor="createdAt" let-daily="row">
        {{ daily?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="status" let-daily="row">
        {{ daily?.status | titlecase}}
    </ng-template>

    <ng-template appFor="description" let-daily="row">
        {{ daily?.description | titlecase}}
    </ng-template>

    <ng-template appFor="title" let-category="row">
        <a href="javascript:void(0)" (click)="onDetailsHandler(category?._id)">
            {{ category?.title | titlecase}}
        </a>
    </ng-template>

  <ng-container>

        <ng-template appFor="actions"  let-user="row">
            <div class="action-icon-cover">
                <i class="material-icons icon-edit" (click)="oneditHandler(user?._id)" title="Edit">
                    edit
                </i>
                <i class="material-icons icon-delete" (click)="onActionHandler(user._id, 'deleted')" title="Delete user">
                    delete
                </i>
                <i class="material-icons icon-block" (click)="onActionHandler(user._id, 'blocked')" *ngIf="user?.status === 'active';else templateAction"  title="Block user">
                    blocked</i>
                <ng-template #templateAction>
                    <i class="material-icons icon-unblock" (click)="onActionHandler(user._id, 'active')" title="Unblock user" >
                        lock_open
                    </i>
                </ng-template>
            </div>
        </ng-template>
    </ng-container>  
</app-table>
