@import 'abstracts/mixins';
@import 'components/popup-ui';

.image-crop-page{
    background-color: transparent;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    max-width: 90%;
    .popup-body{
        padding: 20px !important;
    }
    .popup-footer{
        padding-bottom: 20px !important;
    }
}


:host ::ng-deep{
    .source-image{
        max-height: calc(100vh - 180px) !important;
    }
    image-cropper{
        padding: 0px;
    }
}