<div class="page-comments popup-ui">
    <div class="popup-header">
        <h3>Comments</h3>
        <mat-icon class="close-icon" [mat-dialog-close]="false">close</mat-icon>
    </div>
    <div class="popup-content comments-popup-content">
        <div class="popup-body">
            <ul class="users-listing">
                <li class="single-user" *ngFor="let item of comments; let commentIndex = index">
                    <div class="li-content">
                        <div class="img-cover">
                            <img [src]="item?.users?.profilePicUrl[0] |customImage:'USER'|async" alt="Profile">
                        </div>
                        <div class="textual-cover">
                            <h4><span
                                    title="{{item?.users?.firstName || 'String' }} {{item?.users?.lastName || '' }}">{{item?.users?.firstName || 'String' }}
                                    {{item?.users?.lastName || '' }}</span>
                                <p class="comment-time">{{item?.created | time}}</p>
                            </h4>
                            <p>{{item?.comment}}</p>

                            <div class="like-cover" >
                                <div *ngIf="item.likeCount > 0" class="d-flex">
                                    <span class="material-icons">thumb_up</span>
                                    <p>{{item?.likeCount}}</p>
                                </div>
                                <a class="see-hide-replies" (click)="toggleReplies(item?._id, commentIndex)"
                                    *ngIf="item?.commentCount">{{item?.showReply? "Hide" : "See"}} Replies
                                    ({{item?.commentCount}})</a>
                            </div>
                        </div>
                        <div class="see-profile-cover">
                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" class="card_menu">
                                <button mat-menu-item (click)="seeProfile(item?.users?._id)">
                                    See Profile
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    <ul class="comment-listing" *ngIf="item?.showReply">

                        <li class="single-comment" *ngFor="let reply of item?.replies?.data">
                            <div class="li-content">
                                <div class="img-cover">
                                    <img [src]="reply?.users?.profilePicUrl[0] |customImage:'USER'|async" alt="Profile">
                                </div>
                                <div class="textual-cover">
                                    <h4>{{reply?.users?.firstName }} {{reply?.users?.lastName || '' }}
                                        <p class="comment-time">{{reply?.createdAt | time}}</p>
                                    </h4>
                                    <p>{{reply?.comment}}</p>
                                    <div class="like-cover"><span class="material-icons">thumb_up</span>
                                        <p>{{reply?.likeCount}}</p>
                                    </div>
                                </div>
                                <div class="see-profile-cover">
                                    <button mat-icon-button [matMenuTriggerFor]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" class="card_menu">
                                        <button mat-menu-item>
                                            See Profile
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>
            <div *ngIf="!comments?.length">
                <p>Loading....</p>
            </div>
        </div>
        <div class="load-more-wrapper">
            <button class="btn btn-primary" mat-stroked-button (click)="onLoadMore()"
                *ngIf="pageIndex + 1 < commentsData?.totalPage">Load more comments</button>
        </div>
    </div>
</div>