<div class="page-user-topic-detail common-detail-page-ui">
    <div class="user-topic-content">
        <div class="row-1">
            <div class="textual-detail">
                <div class="card_header_container profile_header">
                    <div class="card_header">
                        <figure mat-card-avatar class="image-cover">
                            <img class="img-cover-fit" src="assets/images/img_avatar3.png" alt="">
                        </figure>
                        <div class="heading-cover">
                            <a class="user_name" href="javascript:void()">User name</a>
                            <p class="posted-on-date">Scheduled On: 12 July, 2020</p>
                        </div>
                    </div>
                    <h1>Title here</h1>
                    <p>
                        Material is an adaptable system of guidelines, components, and tools that
                        support the
                        best practices of user interface design. Backed by open-source code.aterial is an adaptable
                        system
                        of guidelines, components, and tools that
                        support the
                        best practices of user interface design. Backed by open-source code.aterial is an adaptable
                        system
                        of guidelines, components, and tools that
                        support the
                        best practices of user interface design. Backed by open-source code.
                    </p>
                </div>
            </div>
            <div class="image-detail">
                <img src="assets/images/img_avatar3.png" alt="">
            </div>
        </div>
        <div class="row-2">
            <div class="like-cover" (click)="onlikeHandler()"><span class="material-icons">thumb_up</span>
                <p>76</p>
            </div>
            <div class="like-cover"><span class="material-icons">comment</span>
                <p>76</p>
            </div>
        </div>
        <div class="row-3">
            <ul class="users-listing">
                <li class="single-user">
                    <div class="li-content">
                        <div class="img-cover">
                            <img src="../../../../../../../../assets/default-image/user.jpg" alt="Profile">
                        </div>
                        <div class="textual-cover">
                            <h4>Tiger Woods <p class="comment-time">2 Weeks Ago</p>
                            </h4>

                            <p>This is my comment and it is a Multi line comment. Therefore it wraps to the second line
                                also.</p>
                            <div class="like-cover">
                                <span class="material-icons">thumb_up</span>
                                <p>76</p>
                                <a class="see-hide-replies"
                                    (click)="toggleReplies()">{{hideShowReplies? "Hide" : "See"}} Replies (8)</a>
                            </div>
                        </div>
                    </div>
                    <ul class="comment-listing" *ngIf="hideShowReplies">
                        <li class="single-comment">
                            <div class="li-content">
                                <div class="img-cover">
                                    <img src="../../../../../../../../assets/default-image/user.jpg" alt="Profile">
                                </div>
                                <div class="textual-cover">
                                    <h4>Ronaldo <p class="comment-time">2 Weeks Ago</p>
                                    </h4>
                                    <p>This is my comment and it is a Multi line comment. Therefore it wraps to the
                                        second line also.</p>
                                    <div class="like-cover"><span class="material-icons">thumb_up</span>
                                        <p>76</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="single-comment">
                            <div class="li-content">
                                <div class="img-cover">
                                    <img src="../../../../../../../../assets/default-image/user.jpg" alt="Profile">
                                </div>
                                <div class="textual-cover">
                                    <h4>Ronaldo <p class="comment-time">2 Weeks Ago</p>
                                    </h4>
                                    <p>This is my comment and it is a Multi line comment. Therefore it wraps to the
                                        second line also.</p>
                                    <div class="like-cover"><span class="material-icons">thumb_up</span>
                                        <p>76</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>