<app-table [tableSource]="tableSource" (optionChange)="onOptionChange($event)">

    <ng-template appFor="createdAt" let-shoutouts="row">
        {{ shoutouts?.createdAt |customDate}}
    </ng-template>

    <ng-template appFor="status" let-shoutouts="row">
        {{ shoutouts?.status | titlecase}}
    </ng-template>

    <ng-template appFor="title" let-shoutouts="row">
        {{ shoutouts?.title | titlecase}}

    </ng-template>

    <ng-template appFor="gif" let-shoutouts="row">
        <!-- <a href="javascript:void(0)"  [class.click-not-allowed]="shoutouts?.privacy == 'private'" (click)="openGif(shoutouts?.gif)">
        {{ shoutouts?.gif | titlecase}}
    </a> -->
    <div class="img-cover" [title]="shoutouts?.gif" (click)="openGif(shoutoutsData?.gif)">
        <img src="{{ shoutouts?.gif }}" alt="">
    </div>

   
    </ng-template>

    <ng-template appFor="privacy" let-shoutouts="row">
        {{ shoutouts?.privacy | titlecase}}
    </ng-template>

    <ng-template appFor="name" let-gratitude="row">
        <a href="javascript:void(0)"  [class.click-not-allowed]="gratitude?.privacy == 'private'" (click)="onUserDetail(gratitude?.userData?._id)">
            {{ (gratitude?.userData?.firstName  | titlecase) || 'String'}}  {{ (gratitude?.userData?.lastName  | titlecase) || ''}}

        </a>
    </ng-template>
    <ng-template appFor="description" let-shoutouts="row">
            {{ (shoutouts?.description  | titlecase) || 'String'}}
    </ng-template>

    <ng-template appFor="userData" let-shoutouts="row">
            {{ (shoutouts?.userData?.firstName  | titlecase) || 'String'}} {{ (shoutouts?.userData?.lastName  | titlecase) || ''}}
    </ng-template>

    <ng-container>

        <ng-template appFor="actions" let-shoutouts="row">
            <div class="action-icon-cover">

                <i class="material-icons icon-block" (click)="onActionHandler(shoutouts._id, 'blocked', shoutouts?.privacy)" [class.click-not-allowed]="shoutouts?.privacy == 'private'"
                    *ngIf="shoutouts?.status === 'active';else templateAction" title="Block shoutouts">
                    blocked</i>
                <ng-template #templateAction>
                    <i class="material-icons icon-unblock" (click)="onActionHandler(shoutouts._id, 'active', shoutouts?.privacy)" [class.click-not-allowed]="shoutouts?.privacy == 'private'"
                        title="Unblock shoutouts">
                        lock_open
                    </i>
                </ng-template>
                <i class="material-icons icon-delete" (click)="onActionHandler(shoutouts._id, 'deleted',  user?.privacy)" [class.click-not-allowed]="user?.privacy == 'private'"
                    title="Delete shoutouts">
                    delete
                </i>
            </div>

        </ng-template>
    </ng-container>
</app-table>