:host{
    .mobile-content{
        position: relative;
        display: inline-block;
        .verified-icon{
            display: none;
            position: absolute;
            left: -24px;
            top: -3px;
            font-size: 20px;
            color: green;
        }
        &.verified-user{
            margin-left: 10px;
            .verified-icon{
                display: block;
            }
        }
    }
}