<div class="change-password-page popup-ui">
  <div class="popup-header">
    <h3>Change Password</h3>
    <mat-icon class="close-icon" (click)="onCloseHandler()">close</mat-icon>
  </div>
  <div class="popup-body">
    <form [formGroup]="changePasswordForm">

      <mat-form-field appearance="outline">
        <mat-label for="Old Password">Old Password</mat-label>
        <input matInput formControlName="oldPassword" placeholder="Old Password"
          [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer">
          {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error>{{getControl('oldPassword')|validate:'old password'}}</mat-error>
      </mat-form-field>

      <div class="new-password-cover">
        <mat-form-field class="new-password" appearance="outline">
          <mat-label for="">New Password</mat-label>
          <input matInput formControlName="password" placeholder="New Password"
            [type]="hidePassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hidePassword = !hidePassword" style="cursor: pointer">
            {{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <!-- <mat-hint class="some-color"> {{hint}}</mat-hint> -->
          <mat-error>{{getControl('password')|validate:'new password'}}</mat-error>
        </mat-form-field>
  
        <mat-icon class="info-icon" [matMenuTriggerFor]="menu">info</mat-icon>
        <mat-menu #menu="matMenu" class="password-hint-menu">
          <h4>New password must have :- </h4>
          <ul>
            <li class="fulfill">
              <mat-icon>close</mat-icon>
              <mat-icon>done</mat-icon> Atleast one lowercase alphabet.
            </li>
            <li>
              <mat-icon>close</mat-icon>
              <mat-icon>done</mat-icon>Atleast one uppercase alphabet.
            </li>
            <li>
              <mat-icon>close</mat-icon>
              <mat-icon>done</mat-icon>Atleast one numeric value.
            </li>
            <li>
              <mat-icon>close</mat-icon>
              <mat-icon>done</mat-icon>Atleast one special character.
            </li>
          </ul>
        </mat-menu>
      </div>

      <div class="confirm-password-cover">
        <mat-form-field class="confirm-password" appearance="outline">
          <mat-label for="">Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" placeholder="Confirm Password"
            [type]="hideConfirmPassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" style="cursor: pointer">
            {{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  
          <mat-error>{{getControl('confirmPassword')|validate:'confirm password'}}</mat-error>
        </mat-form-field>
        <mat-icon class="info-icon" [matMenuTriggerFor]="menuConfirm">info</mat-icon>
        <mat-menu #menuConfirm="matMenu" class="password-hint-menu">
          <ul>
            <li class="fulfil">
              <mat-icon>close</mat-icon>
              <mat-icon>done</mat-icon> Confirm password must be same as new password.
            </li>
          </ul>
        </mat-menu>
      </div>



    </form>
  </div>
  <div class="popup-footer">
    <button mat-raised-button color="primary" type="button" (click)="changePassword()">Update Password</button>
  </div>
</div>