<div class="page-expert-details">
     <button (click)="onAddContent()">Add Content</button>
    <mat-tab-group>

        <mat-tab label="Basic Detail">
            <app-expert-basic-details></app-expert-basic-details>
        </mat-tab>
        <mat-tab label="Article">
            <!-- <app-user-basic-detail [data]="userDetails"></app-user-basic-detail> -->
        </mat-tab>
        <mat-tab label="Video">
            <!-- <app-user-gratitude-journal [data]="userDetails"></app-user-gratitude-journal> -->
        </mat-tab>
        <mat-tab label="Image">
            <!-- <app-user-events [data]="userDetails"></app-user-events> -->
        </mat-tab>
        <mat-tab label="Voice Notes">
            <!-- <app-user-topics [data]="userDetails"></app-user-topics> -->
        </mat-tab>

    </mat-tab-group>

</div>
<!-- <router-outlet></router-outlet> -->