<div class="page-expert-details">
     <button class="btn btn-primary btn-add-content" mat-stroked-button (click)="onAddContent()">Add Content</button>
    <mat-tab-group (selectedTabChange)="onTabChange($event)">

        <mat-tab label="Basic Detail">
            <app-expert-basic-details  *ngIf="details" [data]="details"></app-expert-basic-details>
        </mat-tab>
        
        <mat-tab  label="Video" >
            <app-expert-details-listing *ngIf="expertListingData" [experDetails]="expertListingData" (changeHandler)="onOptionChange($event)"></app-expert-details-listing>
        </mat-tab>

        <mat-tab label="Article">
            <app-expert-details-listing *ngIf="expertListingData" [experDetails]="expertListingData" (changeHandler)="onOptionChange($event)"></app-expert-details-listing>
        </mat-tab>

        <mat-tab label="Image">
            <app-expert-details-listing  *ngIf="expertListingData" [experDetails]="expertListingData" (changeHandler)="onOptionChange($event)"></app-expert-details-listing>
        </mat-tab>

    </mat-tab-group>

</div>
