<div class="page-expert-details">
     <button (click)="onAddContent()">Add Content</button>
    <mat-tab-group>

        <mat-tab label="Basic Detail">
            <app-expert-basic-details [data]="details"></app-expert-basic-details>
        </mat-tab>
        <mat-tab label="Article">
            <app-expert-article></app-expert-article>
        </mat-tab>
        <mat-tab label="Video">
            <app-expert-video></app-expert-video>
        </mat-tab>
        <mat-tab label="Image">
            <app-expert-image></app-expert-image>
        </mat-tab>
        <mat-tab label="Voice Notes">
            <app-expert-voice-notes></app-expert-voice-notes>
        </mat-tab>

    </mat-tab-group>

</div>
<!-- <router-outlet></router-outlet> -->