<div class="page-media-upload">
  <div class="img-cover">
    <img [src]="profilePicURL |customImage:'IMAGE_PLACEHOLDER'|async" alt="" *ngIf="!videoSrc">

    <video muted [src]="videoSrc" [hidden]='!videoSrc' loop id="video">Your browser does not support the
      video tag.</video>
    <div class="mat-icon-cover">
      
      <button type="button" class="camBtn" mat-mini-fab color="primary">
        <mat-icon>camera_alt</mat-icon>
        <!-- <app-image-crop></app-image-crop> -->
        <input  type="file"  #file (change)="onSelectFile($event)"
          matTooltip="Change file"  accept="image/*,video/*" />
      </button>
    </div>
  </div> 
</div>

<div class="croppabelWrap" *ngIf="imageChangedEvent" [class.active]="imageChangedEvent">
  <app-image-crop (imageData)="imageSelected($event)" [imageChangedEvent]="imageChangedEvent" [roundCropper]='true' [aspectRatio]="4 / 4" (closeCropper)="closeCropper()"></app-image-crop>
</div>