<div class="page-media-upload">
  <div class="img-cover">
    <!-- <img src="https://appinventiv-development.s3.amazonaws.com/1594287959315.png" alt=""> -->
    <img [src]="profilePicURL |customImage:'USER'|async" alt="">
    <div class="mat-icon-cover">
      <button type="button" class="camBtn" mat-mini-fab color="primary">
        <mat-icon>camera_alt</mat-icon>
        <input type="file" accept="image/x-png,image/jpeg" #file (change)="onSelectFile($event)"
          matTooltip="Change Image" />
      </button>
    </div>
  </div>
</div>