:host{
    @import '../../auth.component.scss';
}

:host ::ng-deep{
    .password{
        .mat-form-field-flex{
            .mat-form-field-suffix{
                display: flex;
                align-items: flex-start;
                .page-invalid-password-hint{
                    margin-left: 10px;
                }
            }
        }
    }
}