<div class="page-login on-boarding-page">
	<mat-card>
		<div class="mat-card-header">
			<div class="logo-cover">
				<img src="../../../../../assets/images/logo-black.png" alt="Logo">
			</div>
			<mat-card-title>Login</mat-card-title>
		</div>

		<div class="mat-card-body">
			<form [formGroup]="loginForm" (ngSubmit)="loginForm.valid&&login()">

				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput required formControlName="email" [maxlength]="100">
					<mat-error>{{getControl('email')|validate:'email'}}</mat-error>
				</mat-form-field>

				<mat-form-field class="password"appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput required formControlName="password" [type]="hide ? 'password' :'text'" [maxlength]="20" autocomplete="false">
					<mat-error>{{getControl('password')| validate:'password'}}</mat-error>
					<mat-icon matSuffix (click)="hide= !hide">{{hide ? 'visibility_off' :'visibility'}}</mat-icon>
					<app-invalid-password-hint matSuffix [control]="getControl('password')"></app-invalid-password-hint>
				</mat-form-field>

				<div class="link-cover">
					<a [routerLink]="'FORGOT_PASSWORD'|absolutePath">Forgot Password?</a>
				</div>
				<div class="btn-cover">
					<button type="submit" mat-stroked-button class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>
	</mat-card>
</div>