.popup-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    margin: -14px -16px;
    border-radius: 2px;
    padding: 14px;
    background-color: #FFF;
    .action-button {
        cursor: pointer;
        margin-left: 10px;
    }
}

:host-context(.success-snack) {
    color: #2ecc71;
}
:host-context(.error-snack) {
    color: #e74c3c;
}
:host-context(.warn-snack) {
    color: #ffab40;
}
:host-context(.default-snack) {
    color: #444;
}
