<div class="page-layout-screen">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content-cover">
        <app-header></app-header>
		<div class="main-content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<!-- <div class="page-layout-screen">
    <app-header></app-header>
	<div class="content-cover">
        <div class="sidebar">
            <app-sidebar></app-sidebar>
		</div>
		<div class="main-content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div> -->